<ng-container [ngSwitch]="elementType" (click)="onClick()">
  <ng-template [ngSwitchCase]="'BOOLEAN'">
    <mat-slide-toggle [(ngModel)]="elementValue" color="primary"></mat-slide-toggle>
  </ng-template>
  <ng-template [ngSwitchCase]="'STRING'">
    <mat-form-field appearance="fill" subscriptSizing="dynamic" style="width: 100%">
      <input [(ngModel)]="elementValue" matInput type="text">
    </mat-form-field>
  </ng-template>

  <ng-template [ngSwitchCase]="'INTEGER'">
    <mat-form-field appearance="fill" subscriptSizing="dynamic" style="width: 100%">
      <input [(ngModel)]="elementValue" matInput type="number">
    </mat-form-field>
  </ng-template>

  <ng-template [ngSwitchCase]="'FLOAT'">
    <mat-form-field appearance="fill" subscriptSizing="dynamic" style="width: 100%">
      <input [(ngModel)]="elementValue" matInput type="number">
    </mat-form-field>
  </ng-template>

  <ng-template [ngSwitchCase]="'INSTANCE'">
<!--    <a href=".">[{{elementValue?.dbId}}]-->
<!--        {{elementValue?.displayName}}<br></a>-->
    <button mat-button (click)="openDialog(elementValue)">[{{elementValue?.dbId}}]
      {{elementValue?.displayName}}<br></button>
  </ng-template>
</ng-container>
