<table style="width: 500px" mat-table [dataSource]="dataSource" class="mat-elevation-z0 instance-list-table">

    <!-- dbId Column -->
    <ng-container matColumnDef='gene' style="white-space: normal;">
        <th mat-header-cell *matHeaderCellDef>gene</th>
        <td mat-cell *matCellDef="let element">
            {{element.ppi_genes}}
        </td>
    </ng-container>

    <!-- Display Name Column -->
    <ng-container matColumnDef='pmids' style="white-space: normal;">
        <th mat-header-cell *matHeaderCellDef>pmids</th>
        <td mat-cell *matCellDef="let element">
            {{element.pmids}}
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- <table mat-table [dataSource]="tableData[0].data"> -->
<!-- PPI Genes -->

<!-- <ng-container matColumnDef="ppi_genes">
                                <mat-header-cell *matHeaderCellDef> Interaction Partner </mat-header-cell>
                                <td mat-cell *matCellDef="let element" style="padding: 0">{{element}}
                                </td>
                            </ng-container> -->



<!-- PubMed Ids -->
<!-- <ng-container matColumnDef="pmids">
                                <mat-header-cell *matHeaderCellDef> PMID </mat-header-cell>
                                <td mat-cell *matCellDef="let element" style="padding: 0">{{element}}
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="colNames"></tr>
                            <tr mat-row *matRowDef="let row; columns: colNames;"></tr> -->
<!-- </table>  -->
<!-- </ng-container> -->