.main {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    width: 100%;
    line-height: normal;
}

.dialog_title {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: var(--primary);
  
  }
  
  .check-title {
    font-weight: bold;
    font-size: 18px;
    color: var(--primary);
  }
  
  .dialog_area {
    width: 1200px;
    height: 2000px;
  }
  
  .drop_down {
    max-width: 300px;
    margin: auto;
  }
  
  .scroll_panel {
    height: auto;
    max-height: 40vh;
    overflow: scroll;
    border: solid;
  }

  .find-replace-container {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 10px;
    position: absolute;
    top: 125px;
    width: 450px;
    height: 16px !important;

  }
  .form-field {
    width: 200px; 
    padding-left: 10px;
    padding-right: 10px;
    height: 14px !important;
    font-size: 14px;
  }
  
  // .highlight {
  //   background-color: yellow !important; /* Highlight color */
  //   color:transparent; /* Make the text invisible */
  // }

  .container {
    position: relative;
    height: 100px;
    width: 100%;
  }

  pre#highlighting, #pre {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 5px 8px 0 8px;
    border: 1px solid #CCC;
    width: 100%;
    overflow: hidden;
    white-space: pre-wrap;
    line-height: 1.5;
    word-spacing: normal;
    word-break: normal;
    letter-spacing: normal;
    font-family: monospace;
    font-size: 14px;
    tab-size: 2;
  }


#editor, #highlighting, #pre{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 5px 8px 0 8px;
    border: 1px solid #CCC;
    width: 100%;
    height: 200px;
    // overflow: auto;
    white-space: pre-wrap;
    line-height: 1.5;
    word-spacing: normal;
    word-break: normal;
    letter-spacing: normal;
    font-family: monospace;
    font-size: 14px;
    tab-size: 2;
}

textarea#editor{
    z-index: 1;
    resize: none;
    // color: transparent;
    background: transparent;
    caret-color: black; /* Or choose your favorite color */
}

#highlighting {
    z-index: 0;
}

#editor, #highlighting, #highlighting *, #pre {
    /* Also add text styles to highlighting tokens */
    font-family: monospace;
    font-size: 14px;
    tab-size: 2;
}

.dialog_actions {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
}

.find-replace-container {
  display: flex;
  // gap: 16px; /* Space between the fields */
  align-items: center; /* Align items vertically */
}