.main {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  width: 100%;
  line-height: normal;
}

.dialog_title {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: var(--primary);

}

.check-title {
  font-weight: bold;
  font-size: 18px;
  color: var(--primary);
}

.dialog_area {
  width: 1200px;
  height: 2000px;
}

.drop_down {
  max-width: 300px;
  margin: auto;
}

.scroll_panel {
  height: auto;
  max-height: 40vh;
  overflow: scroll;
  border: solid;
}

.find-replace-container {
  // display: flex;
  align-items: center;
  gap: 8px;
  width: 450px;
  height: 30px !important;
  position: relative;
  font-size: 16px;
  z-index: 10;
}

.fab-container {
  display: flex;
  position: relative;
  z-index: 10;
  background: white;
  // top: -1px;
  height: 30px;
  padding-bottom: 5px;
}

:host ::ng-deep .form-field {
  width: 100%;
  font-size: 13px;
  padding-left: 5px !important;
  padding-right: 5px !important;
  flex: 1 1 0 !important;
  min-width: 300px !important;
  max-width: 100% !important;
  height: 30px !important;
  max-height: 30px !important;
}

.form-field .mat-form-field {
  height: 30px !important;
  max-height: 30px !important;
  font-size: 13px !important;
  // align-content: center !important;
  // line-height: center !important;

}


:host ::ng-deep .mat-mdc-text-field-wrapper {
  width: 100%;
  z-index: 0;
  height: 30px !important;
  max-height: 30px !important;
}

.highlight {
  background-color: yellow !important;
  /* Highlight color */
  color: transparent;
  /* Make the text invisible */
}

.current-match {
  text-decoration: underline !important;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}

.container {
  position: relative;
  height: 100px;
  width: 100%;
}

pre#highlighting,
#pre {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 5px 8px 0 8px;
  border: 1px solid #CCC;
  width: 100%;
  overflow: hidden;
  white-space: pre-wrap;
  line-height: 1.5;
  word-spacing: normal;
  word-break: normal;
  letter-spacing: normal;
  font-family: monospace;
  font-size: 14px;
  tab-size: 2;
}


#editorArea,
#highlighting,
#pre {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 5px 8px 0 8px;
  border: 1px solid #CCC;
  width: 100%;
  height: 200px;
  // overflow: auto;
  white-space: pre-wrap;
  line-height: 1.5;
  word-spacing: normal;
  word-break: normal;
  letter-spacing: normal;
  font-family: monospace;
  font-size: 14px;
  tab-size: 2;
}

.textarea #editorArea {
  z-index: 1;
  resize: none;
  // color: transparent;
  background: transparent;
  caret-color: black;
  /* Or choose your favorite color */
}

.mat-form-field .mat-icon[matSuffix]+.mat-icon[matSuffix] {
  margin-left: 2px;
  margin-right: 4px;
}

.mat-icon {
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
}

#highlighting {
  z-index: 0;
}

#editorArea,
#highlighting,
#highlighting *,
#pre {
  /* Also add text styles to highlighting tokens */
  font-family: monospace;
  font-size: 14px;
  tab-size: 2;
}

.dialog_actions {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
}

.find-replace-container {
  display: flex;
  // gap: 16px; /* Space between the fields */
  align-items: center;
  /* Align items vertically */
}

.editor-fab-container {
  position: relative;
}

.fab-bottom-right {
  position: absolute;
  background-color: white;
  outline: black;
  width: 30px;
  height: 30px;
  font-size: 24px;
  flood-color: black;
  top: 40px;
  right: 65px;
  z-index: 10;
  border: 1px solid #ddd; border-radius: 4px;
}

.fab-bottom-right:hover {
  cursor: select;
}

// :host ::ng-deep .mat-input-element {
//   text-align: center !important;
//   line-height: 32px !important; 
//   padding-bottom: 5px !important;
// }

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-text-field__input {
  // line-height: 32px !important; 
  position: relative;
    bottom: 10px;

}
:host ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-text-field__input {
  // line-height: 32px !important; 
position: relative;
    bottom: 10px;}