<div *ngIf="!showFilterComponent">
  <mat-form-field style="float:left; width: 100%">
    <mat-label>Search</mat-label>
    <input matInput (keydown.enter)="searchForName($event)"
    #input [(ngModel)]="searchKey">
    <mat-icon class="advanced_search" matTooltip="Advanced Search" (click)="showFilter()" matSuffix>manage_search</mat-icon>
  </mat-form-field>
</div>

<div *ngIf="showFilterComponent">
  <mat-form-field style="float:left; width: 100%">
    <mat-label>Search</mat-label>
    <input matInput (keydown.enter)="advancedSearch(advancedSearchKey!)"
    #input readonly="true" [(ngModel)]="advancedSearchKey">
    <!-- <search-filter *ngIf="showFilterComponent" style=" width: 100%"
                 [attributes]="schemaClassAttributes"
                 (searchInstancesAction)="searchAction($event)"></search-filter> -->
    <mat-icon class="advanced_search" matTooltip="Advanced Search" (click)="showFilter()" matSuffix>manage_search</mat-icon>
  </mat-form-field>
</div>

<search-filter *ngIf="showFilterComponent" style="float: right; width: 100%"
                 [attributes]="schemaClassAttributes"
                 (searchInstancesAction)="searchAction($event)"></search-filter>

<section class="table-container" tabindex="0">
  <ng-container *ngIf="showProgressSpinner">
    <mat-spinner class="spinner instance-list-table"></mat-spinner>
  </ng-container>
  <ng-container *ngIf="!showProgressSpinner">
    <app-instance-list-table
    [dataSource]="data"
    [isSelection]="isSelection"
    [actionButtons]="actionButtons"
    (actionEvent)="handleAction($event)"
    (selectionEvent)="onRowClick($event)"></app-instance-list-table>
  <mat-paginator (page)="onPageChange($event)" [length]="instanceCount"
                 [pageSizeOptions]=pageSizeOptions
                 [pageSize]="pageSize"
                 showFirstLastButtons aria-label="Select page of users"></mat-paginator>
</ng-container>
</section>
