<div class="test">
  <mat-form-field style="float:left">
    <mat-label>Search</mat-label>
    <input matInput (keydown.enter)="searchForName($event)"
    #input [(ngModel)]="searchKey">
  </mat-form-field>
  <search-filter style="float: right"
                 [attributes]="schemaClassAttributes"
                 (searchInstancesAction)="searchAction($event)"></search-filter>
</div>
<section class="table-container" tabindex="0">
  <ng-container *ngIf="showProgressSpinner">
    <mat-spinner class="spinner instance-list-table"></mat-spinner>
  </ng-container>
  <ng-container *ngIf="!showProgressSpinner">
    <app-instance-list-table
    [dataSource]="data"
    [isSelection]="isSelection"
    [actionButtons]="actionButtons"
    (actionEvent)="handleAction($event)"
    (selectionEvent)="onRowClick($event)"></app-instance-list-table>
  <mat-paginator (page)="onPageChange($event)" [length]="instanceCount"
                 [pageSizeOptions]=pageSizeOptions
                 [pageSize]="pageSize"
                 showFirstLastButtons aria-label="Select page of users"></mat-paginator>
</ng-container>
</section>
