<div *ngIf="!showFilterComponent">
  <mat-form-field style="float:left; width: 100%">
    <mat-label>Search</mat-label>
    <input matInput (keydown.enter)="doBasicSearch()"
    #input [(ngModel)]="searchKey">
    <mat-icon class="custom-search-icon" matTooltip="Advanced Search" (click)="toggleSearchPane()" matSuffix>manage_search</mat-icon>
  </mat-form-field>
</div>

<div *ngIf="showFilterComponent">
  <mat-form-field style="float:left; width: 100%">
    <mat-label>Search</mat-label>
    <input matInput (keydown.enter)="doAdvancedSearch()"
    #input readonly="true" [(ngModel)]="advancedSearchKey">
    <mat-icon class="undo-idon" matTooltip="Undo last" (click)="removeSearchCriterium()" matSuffix>undo</mat-icon>
    <mat-icon class="custom-search-icon" matTooltip="Advanced Search" (click)="toggleSearchPane()" matSuffix>manage_search</mat-icon>
  </mat-form-field>
</div>

<search-filter *ngIf="showFilterComponent" style="float: right; width: 100%"
                 [attributes]="schemaClassAttributes"
                 (addSearchCriterium)="addSearchCriterium($event)"
                 (search)="doAdvancedSearch()"
                 (removeSearchCriterium)="removeSearchCriterium()"></search-filter>

<section class="table-container" tabindex="0">
  <ng-container *ngIf="showProgressSpinner">
    <mat-spinner class="spinner instance-list-table"></mat-spinner>
  </ng-container>
  <ng-container *ngIf="!showProgressSpinner">
    <app-instance-list-table
    [dataSource]="data"
    [isSelection]="isSelection"
    [actionButtons]="actionButtons"
    (actionEvent)="handleAction($event)"
    (selectionEvent)="onRowClick($event)"
    (urlClickEvent)="navigateUrl($event)"></app-instance-list-table>
  <mat-paginator (page)="onPageChange($event)" [length]="instanceCount"
                 [pageSizeOptions]=pageSizeOptions
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 showFirstLastButtons aria-label="Select page of users"></mat-paginator>
</ng-container>
</section>
