.instance-list-table {
  width: 100%;
}

.instance-list-table-row-is-clicked {
  font-weight: bold;
}

.mat-mdc-row {
  height: 30px;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  //border-bottom: 1px currentColor;
  border-top: 1px currentColor;
  background-color: var(--surface-variant);
  cursor: pointer;
}

selected {
  background-color: #8a9296;
}

th {
  background: var(--primary-container) !important;
  color: var(--on-primary-container) !important;
  //height: var(--bread-crumb-height, 40px) !important;
}

.table-container {
  // height: calc(100vh - var(--bread-crumb-height) - var(--filter-height) - 2 * var(--body-margin));
  overflow: auto;
  border: none;
  width: 100%;
}

.filter {
  width: 100%;
}

mat-form-field {
  margin-top: 5px;
  width: 90%;
  height: var(--filter-height, 80px);
  outline: none;
  margin-bottom: -1.25em;
  line-height: 40px;
  font-size: 14px;
}

::ng-deep .mat-form-field-wrapper{
  margin-bottom: -1.25em;
}

mat-paginator {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.spinner {
  margin:0 auto;
}

.undo-idon {
  height: 44px !important;
  width: 48px !important;
  font-size: 24px !important;
  padding: 0;
  right: 10px;
}

.custom-search-icon {
  height: 48px !important;
  width: 48px !important;
  font-size: 32px !important;
}