.dialog_title {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}

.dialog_area {
  width: 1000px;
  height: 3000px;
}

.drop_down {
  max-width: 150px;
  margin: auto;
}

.qa-report-table {
  width: 100%;
}

.highlightCol {
  background: var(--primary-container);
  color: var(--on-primary-container);
  width: 200px;
  min-width: 100px;
}
