<h2 class="dialog_title" mat-dialog-title cdkdraghandle>Instances in batch:</h2>
<mat-dialog-content style="width: 100%; height: 100%;">
  <div style="display:flex; flex-direction: row; padding: 10px;">
    <mat-label>Select an Attribute to Edit: </mat-label>
    <mat-select mat-select style="width: 30%" #val [(value)]="selected" class="drop_down" (selectionChange)="onSelectionChange(val.value)">
      <ng-container>
        <mat-option *ngFor="let value of candidateAttributes" [value]="value">
          {{value.name}}
        </mat-option>
      </ng-container>
    </mat-select>

    <br>
    <ng-container style="padding:10px; width: 30%" *ngIf="selectedAttribute !== undefined">
      <!-- <mat-label>Choose an Action:</mat-label>
      <mat-select #actionSelect [(value)]="selected" class="drop_down">
        <ng-container>
          <mat-option *ngFor="let value of batchEditOptions" [value]="value">
            {{value}}
          </mat-option>
        </ng-container>
      </mat-select> -->
      <app-attribute-edit [attribute]="selectedAttribute"
        (newValueEvent)="onNoInstanceAttributeEdit($event)"
        (editAction)="onInstanceAttributeEdit($event)" />
    </ng-container>
  </div>


  <section style="height: 50%" class="scroll_panel">
    <app-instance-list-table [dataSource]="data" [actionButtons]="actionButtons"
      (actionEvent)="handleAction($event)"></app-instance-list-table>
  </section>
  <br>
  <div style="height: 35%">
    <mat-label>Removed Instances: </mat-label>
    <ng-container *ngIf="this.removedInstances.length > 0">
      <section class="scroll_panel">
    <app-instance-list-table [dataSource]="removedInstances" [actionButtons]="actionButtons"
      (actionEvent)="handleAction($event)"></app-instance-list-table>
      </section>
    </ng-container>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onOK()" cdkFocusInitial>OK</button>
  <button mat-button (click)="onCancel()">Cancel</button>
</mat-dialog-actions>