<h2 class="dialog_title" mat-dialog-title cdkdraghandle>Instances in batch:</h2>
<mat-dialog-content style="width: 100%; height: 100%;">
  <div style="display:flex; flex-direction: row;">
    <!-- <mat-form-field appearance="outline" style="width: max-content; min-width: 300px; padding: 10px;"> -->
    <div style="display:flex; flex-direction: row; width: max-content; min-width: 300px; padding: 10px;">
      <!-- <mat-label style="width: 500px;">Select an Attribute to Edit:</mat-label> -->
      <mat-select placeholder="Select an Attribute to Edit" #val [(value)]="selected" class="drop_down" (selectionChange)="handleAttributeSelectionChange(val)">
        <mat-option *ngFor="let value of candidateAttributes" [value]="value">
          {{value.name}}
        </mat-option>
      </mat-select>
    </div>

    <!-- </mat-form-field> -->

    <ng-container style="padding:10px; width: 30%" *ngIf="selectedAttribute !== undefined">

      <app-attribute-edit *ngIf="selectedAttribute.type === DATA_TYPES.INSTANCE;" [attribute]="selectedAttribute"
        (editAction)="onInstanceAttributeEdit($event)" />

      <ng-container *ngIf="selectedAttribute.type === DATA_TYPES.STRING">
        <app-edit-menu (actionItem)="onSelectTextAction($event)"
          [isSingledValued]="selectedAttribute.cardinality === '1'"></app-edit-menu>

        <ng-container *ngIf="selectedAction !== undefined && (selectedAction !== EDIT_ACTION.DELETE)">
          <app-attribute-edit [attribute]="selectedAttribute" (newValueEvent)="onEditAction($event)">
          </app-attribute-edit>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="selectedAttribute.type === DATA_TYPES.BOOLEAN">
        <app-attribute-edit [attribute]="selectedAttribute" (newValueEvent)="onNonInstanceAttributeEdit($event)">
        </app-attribute-edit>
      </ng-container>
    </ng-container>

  </div>


  <section style="height: 50%" class="scroll_panel">
    <app-instance-list-table [dataSource]="data" [actionButtons]="actionButtons"
      (actionEvent)="handleListTableAction($event)"></app-instance-list-table>
  </section>
  <br>
  <div style="height: 35%">
    <mat-label>Removed Instances: </mat-label>
    <ng-container *ngIf="this.removedInstances.length > 0">
      <section class="scroll_panel">
        <app-instance-list-table [dataSource]="removedInstances" [actionButtons]="actionButtons"
          (actionEvent)="handleListTableAction($event)"></app-instance-list-table>
      </section>
    </ng-container>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onOK()" cdkFocusInitial>OK</button>
  <button mat-button (click)="onCancel()">Cancel</button>
</mat-dialog-actions>