<!-- Here we have a collection of scenarios to show different set of actions according to the current status-->
<div class="actions">
  <button style="margin-bottom: 1px" (click)="onClick('disableEditing')" *ngIf="isDiagramEditing">Disable Instance
    Editing</button>
  <button style="margin-bottom: 1px" (click)="onClick('enableEditing')" *ngIf="!isDiagramEditing">Enable Instance Editing</button>
  <!--TODO: We may switch to check all objects related to object specific reaction -->
  <ng-container *ngIf="elmType === elmTypes.EDGE && isEdgeEditable">
    <button style="margin-bottom: 1px" (click)="onClick('addPoint')">Add Edge Point</button>
    <!-- Only a reaction can be deleted from the diagram -->
    <button style="margin-bottom: 1px" (click)="onClick('delete')">Remove Reaction</button>
    <!-- <ng-container *ngIf="elmType === elmTypes.NODE">
      <button style="margin-bottom: 1px" (click)="onClick('removePoint')">Edit PhysicalEntity</button>
    </ng-container> -->
  </ng-container>
  <!-- Add a flowline between a PE and a ProcessNode -->
  <ng-container *ngIf="elmType === elmTypes.NODE && isFlowLineAddable">
    <button style="margin-bottom: 1px" (click)="onClick('addFlowLine')">Add Flow Line</button>
  </ng-container>
  <!-- Remove a flowline between a PE and a ProcessNode -->
  <ng-container *ngIf="elmType === elmTypes.FLOWLINE && isDiagramEditing">
    <button style="margin-bottom: 1px" (click)="onClick('addPoint')">Add Edge Point</button>
    <button style="margin-bottom: 1px" (click)="onClick('delete')">Remove Flow Line</button>
  </ng-container>
  <!-- Compartment has its own way -->
  <ng-container *ngIf="elmType === elmTypes.COMPARTMENT">
    <button style="margin-bottom: 1px" (click)="onClick('resizeCompartment')">Resize Compartment</button>
    <button style="margin-bottom: 1px" (click)="onClick('disableResize')">Disable Resizing</button>
  </ng-container>
  <ng-container *ngIf="elmType === elmTypes.EDGE_POINT">
    <button style="margin-bottom: 1px" (click)="onClick('removePoint')">Remove Edge Point</button>
  </ng-container>
  <ng-container *ngIf="elmType === elmTypes.PATHWAY_NODE">
    <button style="margin-bottom: 1px" (click)="onClick('goToPathway')">Go to Pathway</button>
  </ng-container>
  <button style="margin-bottom: 1px" (click)="onClick('toggleDarkMode')">Toggle Color Theme</button>
  <button style="margin-bottom: 1px" (click)="onClick('upload')">Upload Diagram</button>
</div>