<!-- Here we have a collection of scenarios to show different set of actions according to the current status-->
<div class="actions">
  <button style="margin-bottom: 1px" (click)="onClick('disableEditing')" *ngIf="isDiagramEditing">Disable Editing</button>
  <button style="margin-bottom: 1px" (click)="onClick('enableEditing')" *ngIf="!isDiagramEditing">Enable Editing</button>
  <!--TODO: We may switch to check all objects related to object specific reaction -->
  <ng-container *ngIf="elmType === elmTypes.EDGE">
    <ng-container *ngIf="isEdgeEditable">
      <button style="margin-bottom: 1px" (click)="onClick('addPoint')">Add Edge Point</button>
      <!-- Only a reaction can be deleted from the diagram -->
      <button style="margin-bottom: 1px" (click)="onClick('delete')">Remove Reaction</button>
      <!-- Turn off editing -->
      <button style="margin-bottom: 1px" (click)="onClick('disableEdgeEditing')">Disable Edge Editing</button> 
    </ng-container>
    <ng-container *ngIf="!isEdgeEditable">
      <button style="margin-bottom: 1px" (click)="onClick('enableEdgeEditing')">Enable Edge Editing</button> 
    </ng-container>
  </ng-container>
  <!-- Add a flowline between a PE and a ProcessNode -->
  <ng-container *ngIf="(elmType === elmTypes.NODE || elmType === elmTypes.PATHWAY_NODE) && isFlowLineAddable">
    <button style="margin-bottom: 1px" (click)="onClick('addFlowLine')">Add Flow Line</button>
  </ng-container>
  <!-- Remove a flowline between a PE and a ProcessNode -->
  <ng-container *ngIf="elmType === elmTypes.FLOWLINE && isDiagramEditing">
    <button style="margin-bottom: 1px" (click)="onClick('addPoint')">Add Edge Point</button>
    <button style="margin-bottom: 1px" (click)="onClick('delete')">Remove Flow Line</button>
  </ng-container>
  <!-- The following actions are for editing only -->
  <ng-container *ngIf="isDiagramEditing">
    <ng-container *ngIf="elmType === elmTypes.COMPARTMENT || elmType === elmTypes.PE_Node || elmType === elmTypes.PATHWAY_NODE">
      <button style="margin-bottom: 1px" (click)="onClick('resizeCompartment')" *ngIf="!isNodeResizing">Resize</button>
      <button style="margin-bottom: 1px" (click)="onClick('disableResize')" *ngIf="isNodeResizing">Disable Resizing</button>
    </ng-container>
    <!-- The compartment can be added or removed directly -->
    <button style="margin-bottom: 1px" (click)="onClick('deleteCompartment')" *ngIf="elmType === elmTypes.COMPARTMENT">Delete Compartment</button>
    <button style="margin-bottom: 1px" (click)="onClick('insertCompartment')" *ngIf="elmType === elmTypes.CYTOSCAPE">Insert Compartment</button>
  </ng-container>
  <ng-container *ngIf="elmType === elmTypes.EDGE_POINT">
    <button style="margin-bottom: 1px" (click)="onClick('removePoint')">Remove Edge Point</button>
  </ng-container>
  <ng-container *ngIf="elmType === elmTypes.PATHWAY_NODE">
    <button style="margin-bottom: 1px" (click)="onClick('deletePathway')" *ngIf="isPathwayDeletable">Delete Pathway</button>
    <button style="margin-bottom: 1px" (click)="onClick('goToPathway')">Go to Pathway</button>
  </ng-container>
  <button style="margin-bottom: 1px" (click)="onClick('toggleDarkMode')">Toggle Color Theme</button>
  <button style="margin-bottom: 1px" (click)="onClick('upload')">Upload Diagram</button>
</div>
