<!--<mat-card>-->
<!--<mat-card-title>Login</mat-card-title>-->
<!--  <mat-card-content>-->
<!--&lt;!&ndash;    <form [formGroup]="form" (ngSubmit)="submit()">&ndash;&gt;-->
<!--      <p>-->
<!--        <mat-form-field>-->
<!--          <input type="text" matInput placeholder="Username" formControlName="username">-->
<!--        </mat-form-field>-->
<!--      </p>-->

<!--      <p>-->
<!--        <mat-form-field>-->
<!--          <input type="password" matInput placeholder="Password" formControlName="password">-->
<!--        </mat-form-field>-->
<!--      </p>-->

<!--&lt;!&ndash;      <p *ngIf="error" class="error">&ndash;&gt;-->
<!--&lt;!&ndash;        {{ error }}&ndash;&gt;-->
<!--&lt;!&ndash;      </p>&ndash;&gt;-->

<!--      <div class="button">-->
<!--        <button type="submit" mat-button (click)="submit()">OK</button>-->
<!--      </div>-->

<!--&lt;!&ndash;    </form>&ndash;&gt;-->
<!--  </mat-card-content>-->
<!--</mat-card>-->
<app-auth-form (submitEmitter)="submit($event)"></app-auth-form>
