mat-list :hover {
  background: var(--primary);
  color: var(--on-primary);
  cursor: pointer;
}

.toolbar {
  height: var(--bread-crumb-height, 40px);
  font-size: 16px;
  font-weight: bold;
}

:host {
  position: sticky;
  top: 0;
}
