<h2 class="dialog_title" mat-dialog-title cdkdraghandle>Create a New Instance</h2>
<mat-dialog-content style="width: 100%">
  <mat-label>Select a Schema Class: </mat-label>
<!--  <mat-select [(value)]="selected" class="drop_down" (selectionChange)="onSelectionChange()">-->
<!--    &lt;!&ndash;   TODO: Check on touchscreen if touch works for 'click' event &ndash;&gt;-->
<!--    <ng-container>-->
<!--      <mat-option *ngFor="let value of candidateClasses" [value]="value">-->
<!--        {{value}}-->
<!--      </mat-option>-->
<!--    </ng-container>-->
<!--  </mat-select>-->
<app-list-instances-table></app-list-instances-table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onOK()" cdkFocusInitial>OK</button>
  <button mat-button (click)="onCancel()">Cancel</button>
</mat-dialog-actions>
