<div width="100%">
    <table style=" margin: auto; width: 80%" [dataSource]="dataSource" mat-table
        class="mat-elevation-z0 instance-list-table">

        <!-- Gene Column -->
        <ng-container matColumnDef='gene' style="white-space: normal;">
            <th mat-header-cell *matHeaderCellDef>Interaction Partner</th>
            <td mat-cell *matCellDef="let element">
                {{element.gene}}
            </td>
        </ng-container>

        <!-- PMIDs Column -->
        <ng-container matColumnDef='pmids' style="white-space: normal;">
            <th mat-header-cell *matHeaderCellDef>PMID</th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngTemplateOutlet="pmidTemplate; context: {$implicit: element}"></ng-container>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <ng-template #pmidTemplate let-element>
        <ng-container *ngFor="let id of element.pmids; let last = last">
            <a href="https://pubmed.ncbi.nlm.nih.gov/{{id}}" target="pubmed">
                {{ id }}<span *ngIf="!last">, </span>
            </a>
        </ng-container>
    </ng-template>
</div>