.example-accordion {
  background-color: var(--surface-variant);
  align-items: end;
  border: var(--surface)
}

.example-accordion-item-body {
  position: relative;
  background-color: var(--surface-variant);
  align-items: end;
}

.example-accordion-item-header {
  width: 50%;
  top: 0;
 }
