.status {
    font-size: 14px;
    height: var(--status-height, 30px);
    font-weight: normal;
    align-items: center;
    position: absolute;
    bottom: 4px;
}

.mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    color: var(--primary);
  }
  
.mat-icon-button {
  // flex-direction: row-reverse;
  position: absolute;
  right: 8px;
  width: 36px; // This is important to show the icon
  height: 18px; // 2px is added
  display: flex;
  align-items: center;
  justify-content: center;
  // flex-wrap: nowrap;
  background: transparent; // these two to make sure no background and border for tree nodes having children.
  border: none;
  cursor: pointer;
}

.toolbar-buttons {
  position: absolute;
  right: 16px; /* Adjust the distance from the right edge */
  gap: 16px; /* Add spacing between buttons */
}
