<mat-toolbar class="status" color="secondary">
        <section *ngIf="!hideInstanceStatus">
                <span>New instances:
                        <button mat-button style="border: 0px;" (click)="showUpdated()"
                                [disabled]="newInstances.length === 0">{{newInstances.length}}
                        </button>
                </span>

                <span>Updated instances:
                        <button mat-button style="border: 0px;" (click)="showUpdated()"
                                [disabled]="updatedInstances.length === 0">{{updatedInstances.length}}
                        </button>
                </span>

                <span>Deleted instances:
                        <button mat-button style="border: 0px;" (click)="showUpdated()"
                                [disabled]="deletedInstances.length === 0">{{deletedInstances.length}}
                        </button>
                </span>

                <span>Default person:
                        <button mat-button style="border: 0px;" (click)="setDefaultPerson()">
                                {{defaultPerson ? (defaultPerson.displayName + ' [' + defaultPerson.dbId + ']') : 'Not Defined'}}
                        </button>
                </span>
        </section>
        <!--TODO: To be implemented soon.-->
        <!-- <span>Curators Online:
                <button mat-button style="border: 0px;" (click)="showUpdated()"
                        [disabled]="updatedInstances.length === 0">{{updatedInstances.length + newInstances.length}}
                </button>
        </span> -->
        <a style="position: absolute; right: 3em;"
                href="https://docs.google.com/document/d/180LCXdsk7Z324uK0FVhDj5fw3HnFPktt6rEqkpass1o/edit?tab=t.0"
                target="_blank">
                Report Bug
        </a>

        <button style="position: absolute; right: 0;" class="mat-icon-button" (click)="logout()" matTooltip="Logout"
                matTooltipPosition="right" [matTooltipShowDelay]="500">
                <mat-icon color="primary">logout</mat-icon>
        </button>
</mat-toolbar>