<mat-toolbar class="status" color="secondary">
        <span>New instances:
                <button mat-button style="border: 0px;" (click)="showUpdated()"
                        [disabled]="newInstances.length === 0">{{newInstances.length}}
                </button>
        </span>


        <span>Updated instances:
                <button mat-button style="border: 0px;" (click)="showUpdated()"
                        [disabled]="updatedInstances.length === 0">{{updatedInstances.length}}
                </button>
        </span>

        <!--TODO: To be implemented soon.-->
        <!-- <span>Curators Online:
                <button mat-button style="border: 0px;" (click)="showUpdated()"
                        [disabled]="updatedInstances.length === 0">{{updatedInstances.length + newInstances.length}}
                </button>
        </span> -->

        <button style="position: absolute; right: 0" class="mat-icon-button" (click)="logout()" matTooltip="Logout"
                matTooltipPosition="right" [matTooltipShowDelay]="500">
                <mat-icon color="primary">logout</mat-icon>
        </button>
</mat-toolbar>
