<mat-toolbar class="status" color="secondary">
        <section *ngIf="!hideInstanceStatus" style="display: flex; align-items: center;">
                <span>New instances:
                        <button mat-button style="border: 0px;" (click)="showUpdated()"
                                        [disabled]="newInstances.length === 0">{{newInstances.length}}
                        </button>
                </span>

                <span>Updated instances:
                        <button mat-button style="border: 0px;" (click)="showUpdated()"
                                        [disabled]="updatedInstances.length === 0">{{updatedInstances.length}}
                        </button>
                </span>

                <span>Deleted instances:
                        <button mat-button style="border: 0px;" (click)="showUpdated()"
                                        [disabled]="deletedInstances.length === 0">{{deletedInstances.length}}
                        </button>
                </span>

                <span>Default person:
                        <button mat-button style="border: 0px;" (click)="setDefaultPerson()">
                                {{defaultPerson ? (defaultPerson.displayName + ' [' + defaultPerson.dbId + ']') : 'Not Defined'}}
                        </button>
                </span>
        </section>

        <ng-container *ngIf="saveChangesInProgress">
                <span class="too-many-staged-warning"
                        matTooltip="You have too many staged instances. Please commit your changes to avoid losing them.">
                        Too many staged instances. Commit them as soon as possible.
                </span>
        </ng-container>

        <!--TODO: To be implemented soon.-->
        <!-- <span>Curators Online:
                <button mat-button style="border: 0px;" (click)="showUpdated()"
                        [disabled]="updatedInstances.length === 0">{{updatedInstances.length + newInstances.length}}
                </button>
        </span> -->

        <div class="toolbar-buttons">
                <button mat-icon-button (click)="navigateHome()" matTooltip="Go to home page" matTooltipPosition="left"
                        [matTooltipShowDelay]="500">
                        <mat-icon color="primary">home</mat-icon>
                </button>

                <a mat-icon-button href="https://github.com/reactome/curator-tool-frontend/blob/main/docs/UserGuide.md"
                        target="_blank" rel="noopener noreferrer" matTooltip="User guide" matTooltipPosition="left"
                        [matTooltipShowDelay]="500" aria-label="User guide">
                        <mat-icon color="primary">menu_book</mat-icon>
                </a>

                <button mat-icon-button (click)="reportBug()" matTooltip="Report bug" matTooltipPosition="left"
                        [matTooltipShowDelay]="500">
                        <mat-icon color="primary">bug_report</mat-icon>
                </button>

                <button mat-icon-button (click)="logout()" matTooltip="Log out" matTooltipPosition="right"
                        [matTooltipShowDelay]="500">
                        <mat-icon color="primary">logout</mat-icon>
                </button>
        </div>

</mat-toolbar>