<div>
    <cr-diagram #diagramComponent [id]="id$ | async"></cr-diagram>
    <div *ngIf="showMenu" [ngStyle]="{ 'position': 'absolute', 'top': menuPositionY, 'left': menuPositionX }">
      <div style="display: flex; flex-direction: column; background-color: rgba(255, 255, 255, 0.50);">
        <button style="margin-bottom: 1px;" (click)="onAction('item1')">Item 1</button>
        <button style="margin-bottom: 1px;" (click)="onAction('item2')">Item 2</button>
        <button style="margin-bottom: 1px;" (click)="onAction('item3')">Item 3</button>
      </div>
    </div>
</div>
