.card-style {
    width: 40vw;
    height: 40vh;
    background-color: var(--primary-container);
    align-items: center;
    left: 400px;
  }

  .label {
    background: var(--surface-variant); color: var(--on-primary-container);
    // width: 200px;
    // min-width: 100px;
    outline: black;
  }
