<div #container>
  <mat-sidenav-container (dragover)="$event.preventDefault()" autosize="true" style="height: 94vh">
    <mat-sidenav #sidenav mode="side" opened (openedChange)="schemaPanelOpen" [disableClose]="true" [style.width]="sideWidth + 'px'">
      <app-side-navigation class="side-nav" (updateTabIndexEvent)="showUpdatedInstances($event)"
                           [showUpdatedList]="showInstanceList"
                           (addEventToDiagram)="addEventToDiagram($event)">
      </app-side-navigation>
      <div class="resize-container" (cdkDragMoved)="resizeLeft($event)" cdkDrag cdkDragLockAxis="x"
           (cdkDragStarted)="resizing = true" (cdkDragReleased)="resizing = false" [class.resizing]="resizing">
        <div class="resize-bar"></div>
      </div>
    </mat-sidenav>
    <!--TODO: Need to make the height distribution changable via DnD as the horizonal panel. -->
    <mat-sidenav-content style="background-color: white;">
      <div style="display: flex; flex-direction: column; height: 100%;">
        <div style="flex: 2; overflow: hidden;">
          <div style="height: 100%; overflow: auto;">
            <app-pathway-diagram #diagramView (diagramEvent)="handleDiagramSelection($event)"></app-pathway-diagram>
          </div>
        </div>
        <div style="flex: 1; min-height: 100px; overflow: auto;" *ngIf="showInstanceView">
          <app-instance-view #instanceView [needHistory]="false"></app-instance-view>
        </div>
      </div>
    </mat-sidenav-content>
  
  </mat-sidenav-container>

<!--  <div id="bookmark-boundary">-->
<!--    <div cdkDrag cdkDragLockAxis="x" cdkDragBoundary="#bookmark-boundary" id="bookmark-container" [ngClass]="status"-->
<!--         [style.height]="container.clientHeight + 'px'" (cdkDragStarted)="onDrag()" (cdkDragEnded)="onDragEnd()">-->
<!--      <button id="bookmark-handle" cdkDragHandle (click)="toggleBookmarks()">BOOKMARKS-->
<!--      </button>-->
<!--      <div id="bookmark" #bookmark>-->
<!--        <app-bookmark-list></app-bookmark-list>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <app-status [sidePanelState]="showInstanceList" (showUpdatedEvent)="showUpdatedInstances($event)"></app-status>
</div>
