<div #container>
  <mat-sidenav-container (dragover)="$event.preventDefault()" autosize="true" style="height: 94vh;">
    <mat-sidenav #sidenav mode="side" opened (openedChange)="schemaPanelOpen" [disableClose]="true"
                 [style.width]="treeWidth  + 'px'">
      <!--Technically it would be nicer to create a new component having both filter and tree. Put it here since the main event view
      is not that complicated now. -->
      <event-filter (speciesChanged)="handleSpeciesSelection($event)"
                    (filterTextChanged)="handleEventFilterTextChanged($event)" *ngIf="!showChanged"></event-filter>
      <app-event-tree (addToDiagram)="addEventToDiagram($event)" (eventClicked)="handleEventClicked($event)"
                       (createEmptyDiagramEvent)="createEmptyDiagram($event)"
                      #eventTree *ngIf="!showChanged"></app-event-tree>
      <!-- calling classAction will close this list since it should be true. -->
      <!-- <app-updated-instance-list *ngIf="showChanged" (closeAction)="showUpdatedInstances(false)" [blockRoute]="true"></app-updated-instance-list> -->
        
      <div class="resize-container-vertical" (cdkDragMoved)="resizeLeft($event)" cdkDrag cdkDragLockAxis="x"
           (cdkDragStarted)="resizingVertical = true" (cdkDragReleased)="resizingVertical = false"
           [class.resizing]="resizingVertical">
        <div class="resize-bar"></div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content style="background-color: white; overflow: hidden;">
      <div style="display: flex; flex-direction: column; height: 100%;;">
        <div style="flex: 2; overflow: hidden;">
          <div style="height: 100%; overflow-x: auto;">
              <app-pathway-diagram #diagramView (goToPathwayEvent)="handleGoToPathEvent($event)" 
              (openPathwayDiagramEvent)="handleOpenPathwayDiagramEvent($event)"></app-pathway-diagram>
          </div>
        </div>
        <div [style.height]="window.innerHeight - 40 - diagramHeight + 'px'">
          <div class="resize-container-horizontal" (cdkDragMoved)="resizeDown($event)" cdkDrag cdkDragLockAxis="y"
               (cdkDragStarted)="resizingHorizontal = true" (cdkDragReleased)="resizingHorizontal = false"
               [class.resizing]="resizingHorizontal"
               [style.bottom]="window.innerHeight - 45 - diagramHeight + 2 + 'px'">
            <div class="resize-bar"></div>
          </div>
          <div class="instance-view-container" style="overflow: scroll;">
            <app-instance-view #instanceView [needHistory]="true" [blockRoute]="true"></app-instance-view>
          </div>
          <div id="bookmark-boundary">
            <div cdkDrag cdkDragLockAxis="x" cdkDragBoundary="#bookmark-boundary" id="bookmark-container" [ngClass]="status"
                 [style.height]="window.innerHeight - 300 - diagramHeight + 'px'" (cdkDragStarted)="onDrag()" (cdkDragEnded)="onDragEnd()">
              <button id="bookmark-handle" cdkDragHandle (click)="toggleBookmarks()">BOOKMARKS
              </button>
              <div id="bookmark" [style.height]="window.innerHeight - diagramHeight + 'px'">
                <app-bookmark-list></app-bookmark-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
  <app-status (showUpdatedEvent)="showUpdatedInstances($event)"></app-status>
</div>
