.instance-table {
  width: 100%;
  overflow: auto;
}

.mat-mdc-row {
  height: 30px;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.attColumn {
  background: var(--primary-container);
  color: var(--on-primary-container);
}

.thead {
  height: 40px !important;
}

.mat-icon {
  color: var(--primary);
}

.table-container {
  max-height: calc(100vh - var(--bread-crumb-height) - var(--title-height) - 2 * var(--body-margin));
  height: calc(100vh - var(--bread-crumb-height) - var(--title-height) - 2 * var(--body-margin));
  overflow: auto;
  border: none;
}

.mat-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: var(--primary);
  text-align: left;
}
