.instance-table {
  width: 100%;
  //overflow: auto;
}

.mat-mdc-row {
  height: 30px;
}


.attColumn {
  background: var(--primary-container);
  color: var(--on-primary-container);
  width: 200px;
  min-width: 100px;

  &.required {
    background-color: #f8dcbf;

  }

  &.mandatory {
    background-color: #f28b82;
  }

  &.active_edit {
    font-weight: bold;
    background-color: rgb(235, 148, 235);
  }

  &.passive_edit {
    font-style: italic;
    background-color: #ad7a76;
  }

  &.active_and_passive_edit {
    font-weight: bold;
    font-style: italic;
    background-color: rgb(157, 99, 157);
  }

}

.thead {
  height: 40px !important;
}

.draggable-instance-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.instance-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.table-container {
  max-height: calc(100vh - var(--bread-crumb-height) - var(--title-height) - 2 * var(--body-margin) - var(--text-curation-height));
  height: calc(100vh - var(--bread-crumb-height) - 2 * var(--title-height) - 2 * var(--body-margin) - var(--text-curation-height));
  overflow: auto;
  border: none;
}

.mat-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: var(--primary);
  text-align: left;
}

button:disabled {
  color: var(--primary);
  cursor: not-allowed;
}