<ng-template #valueColTemplate let-element>
  <ng-container *ngIf="element.attribute.cardinality === '1'">
    <app-instance-table-row-element [attribute]="element.attribute" [value]="element.value"
      (newValueEvent)="onNoInstanceAttributeEdit($event)" (editAction)="onInstanceAttributeEdit($event)" />
  </ng-container>
  <ng-container *ngIf="element.attribute.cardinality === '+'">
    <!-- Make sure ngif on a ng-container -->
    <ng-container *ngIf="element.value === undefined; else elseblock">
      <!-- If no value for this attribute, nothing to be passed. But we still need the editing.-->
      <app-instance-table-row-element [attribute]="element.attribute"
        (newValueEvent)="onNoInstanceAttributeEdit($event)" (editAction)="onInstanceAttributeEdit($event)" />
    </ng-container>
    <ng-template #elseblock>
      <app-instance-table-row-element *ngFor="let object of element.value; let i = index"
        [attribute]="element.attribute" [value]="object" [index]="i" (newValueEvent)="onNoInstanceAttributeEdit($event)"
        (editAction)="onInstanceAttributeEdit($event)" />
    </ng-template>
  </ng-container>
</ng-template>

<ng-template #refValueColTemplate let-element>
  <ng-container *ngIf="element.attribute.cardinality === '1'">
    <app-instance-table-row-element [attribute]="element.attribute" [value]="element.referenceValue" [disable]="true" />
  </ng-container>
  <ng-container *ngIf="element.attribute.cardinality === '+'">
    <!-- Make sure ngif on a ng-container -->
    <ng-container *ngIf="element.referenceValue === undefined; else elseblock">
      <app-instance-table-row-element [attribute]="element.attribute" [disable]="true" />
    </ng-container>
    <ng-template #elseblock>
      <app-instance-table-row-element *ngFor="let object of element.referenceValue let i = index"
        [attribute]="element.attribute" [value]="object" [index]="i" [disable]="true" />
    </ng-template>
  </ng-container>
</ng-template>

<section class="table-container" tabindex="0">
  <table mat-table [dataSource]="instanceDataSource" matSort class="instance-table">
    <!-- Attribute Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell (mouseenter)="changeShowHeaderActions()" (mouseleave)="changeShowHeaderActions()"
        *matHeaderCellDef>Attribute
        <button matTooltip="Sort attributes by name" *ngIf="showHeaderActions" mat-icon-button (click)="sort()">
          <mat-icon>sort_by_alpha</mat-icon>
        </button>
        <button matTooltip="Sort by defined attributes" *ngIf="showHeaderActions" mat-icon-button
          (click)="sortByDefined()">
          <mat-icon>sort</mat-icon>
        </button>
      </th>
      <td class="attColumn" mat-cell *matCellDef="let element">{{element.attribute.name}}</td>
    </ng-container>

    <!-- Attribute Value Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell (mouseenter)="changeShowHeaderActions()" (mouseleave)="changeShowHeaderActions()"
        *matHeaderCellDef> Value
        <ng-container *ngIf="showHeaderActions">
          <button mat-icon-button (click)="changeShowFilterOptions()">
            <mat-icon>filter_alt</mat-icon>
          </button>
          <section *ngIf="showFilterOptions">
            <mat-checkbox *ngFor="let cat of categories.keys()" [ngModel]="categories.get(cat)"
              (ngModelChange)="doFilter(cat)">{{AttributeCategory[cat] | titlecase}}</mat-checkbox>
          </section>
        </ng-container>
      </th>
      <td mat-cell *matCellDef="let element" style="padding: 0">
        <ng-container *ngTemplateOutlet="valueColTemplate; context: {$implicit: element}"></ng-container>
      </td>
    </ng-container>

    <!-- Reference value column is any -->
    <ng-container matColumnDef="referenceValue" *ngIf="showReferenceColumn">
      <th mat-header-cell *matHeaderCellDef>Reference Value</th>
      <td mat-cell *matCellDef="let element" style="padding: 0">
        <ng-container *ngTemplateOutlet="refValueColTemplate; context: {$implicit: element}"></ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
</section>
