.buttons-pane {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 8px;
    position: relative;
}

.toolbar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: hidden;
}
  
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.scroll-list {
  max-height: 250px; // Adjust based on your row height (e.g., 5 rows x 50px)
  overflow-y: auto;
    border-bottom: 1px solid #e0e0e0;
  margin-bottom: 16px;
  padding-bottom: 8px;
}
.scroll-list:last-of-type {
  border-bottom: none;
}

.action-buttons-row {
  display: flex;
  align-items: flex-end;
  gap: 2px; // or use column-gap: 2px;
}

.mini-btn {
  min-width: 28px !important;
  width: 28px !important;
  height: 28px !important;
  padding: 0 !important;
  margin: 0, 2px !important;
}
  
