.buttons-pane {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 8px;
    position: relative;
}

.toolbar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: hidden;
}
  
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.scroll-list {
  max-height: 250px; // Adjust based on your row height (e.g., 5 rows x 50px)
  overflow-y: auto;
}
  
