<mat-toolbar>
    <div class="toolbar">
        <button mat-icon-button color="primary" matTooltip="Close" (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</mat-toolbar>
<h4>New Instances: {{newInstances.length}}</h4>
<app-instance-list-table [dataSource]="newInstances"
                         [isSelection]="isSelection"
                         [showHeader]="showHeader"
                         [actionButtons]="newInstanceActionButtons"
                         [showEmptyMessage]="false"
                         [blockRoute]="blockRoute"
                         (actionEvent)="handleAction($event)">
</app-instance-list-table>
<br>
<hr>
<h4>Updated Instances: {{updatedInstances.length}}</h4>
<app-instance-list-table [dataSource]="updatedInstances"
                         [isSelection]="isSelection"
                         [showHeader]="showHeader"
                         [actionButtons]="updatedInstanceActions"
                         [showEmptyMessage]="false"
                         [blockRoute]="blockRoute"
                         (actionEvent)="handleAction($event)">
</app-instance-list-table>
<br>
<hr>
<h4>Deleted Instances: {{deletedInstances.length}}</h4>
<app-instance-list-table [dataSource]="deletedInstances"
                         [isSelection]="isSelection"
                         [showHeader]="showHeader"
                         [actionButtons]="deletedInstanceActions"
                         [showEmptyMessage]="false"
                         [blockRoute]="blockRoute"
                         (actionEvent)="handleAction($event)">
</app-instance-list-table>
