.buttons-pane {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 8px;
    position: relative;
}

.toolbar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
  }
  
