<table mat-table class="mat-elevation-z8 demo-table">
    <!-- Display Name Column -->
    <!-- <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef>Display Name</th>
      <td mat-cell *matCellDef="let element">{{element.displayName}}</td>
    </ng-container> -->

    <mat-text-column name="displayName"></mat-text-column>
  
    <!-- dbId Column -->
    <ng-container matColumnDef="dbId">
      <th mat-header-cell *matHeaderCellDef>dbId</th>
      <td mat-cell *matCellDef="let element">{{dbId}}</td>
    </ng-container>

    <!-- stId Column -->
    <ng-container matColumnDef="stId">
      <th mat-header-cell *matHeaderCellDef>stId</th>
      <td mat-cell *matCellDef="let element">{{element.stId}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>
 
