<!--<section class="home-page-container" tabindex="0">-->
  <!-- <form>
    <mat-form-field class="form-field">
      <mat-label>Search</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form> -->
  <div class="center-content">
    <div class="app-title">
      <img src="assets/images/reactome-logo.svg" alt="Reactome Logo" class="app-icon">
      <h1>Reactome Curation WebBench</h1>
    </div>
    <div class="card-container">
      <mat-card class="card">
        <mat-card-content>
          <mat-icon class="card-icon">account_tree</mat-icon>
          <a routerLink="/schema_view">Schema View</a>
        </mat-card-content>
      </mat-card>
      <br>
      <mat-card class="card">
        <mat-card-content>
          <mat-icon class="card-icon">timeline</mat-icon>
          <a routerLink="/event_view">Event View</a>
        </mat-card-content>
      </mat-card>
      <!-- <mat-card class="card">
        <mat-card-content>
          <a routerLink="/elv_view">ELV View</a>
        </mat-card-content>
      </mat-card> -->
      <mat-card class="card">
        <mat-card-content style="text-align: center;">
          <mat-icon class="card-icon">psychology</mat-icon>
          <a routerLink="/llm_apps_view">Gene2Path App</a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- <div >
    <mat-card style="margin-bottom: 1rem;">
      <mat-card-content>View History (20 instances)</mat-card-content>
    </mat-card>
    <mat-card style="margin-bottom: 1rem;">
      <mat-card-content>Notes (4 notes)</mat-card-content>
    </mat-card>
    <mat-card style="margin-bottom: 1rem;">
      <mat-card-content>QA Issues (8 issues)</mat-card-content>
    </mat-card>
    <mat-card style="margin-bottom: 1rem;">
      <mat-card-content>New/Updated Instances since Last Logout (25 instances)
      </mat-card-content>
    </mat-card>
    <mat-card style="margin-bottom: 1rem;">
      <mat-card-content>Logged-in Curators (3 curators)</mat-card-content>
    </mat-card>
  </div> -->
<app-status [hideInstanceStatus]="true"></app-status>

<!--</section>-->

<!--Fill whole page: search, cypher, last edited history table, last viewed-->
