.home-page-container {
  max-height: calc(100vh - var(--bread-crumb-height) - var(--title-height) - 2 * var(--body-margin));
  height: calc(100vh - var(--bread-crumb-height) - var(--title-height) - 2 * var(--body-margin));
  overflow: auto;
  border: none;
}

.center-content{
  display: flex;
  height: 95vh;
  justify-content: center;
  align-items: center;
}

.card {
  height: 75px;
  width: 150px;
  align-items: center;
  vertical-align: bottom;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.form-field {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
