<h3>Total Referrers: {{totalCount}}</h3>
<ng-container style="margin: 0px; padding: 0px" *ngIf="totalCount >= 1000">Complete referrer list is too large to display</ng-container>
<h5 style="color: red; margin: 0px; padding: 0px; font-style: italic;" *ngIf="instance2ReviewStatusChange.length > 0">*Instances listed in red would experience a structural change if this instance is deleted</h5>

<section class="table-container" tabindex="0">
  <ng-container *ngIf="showProgressSpinner">
    <mat-spinner class="spinner"></mat-spinner>
  </ng-container>
  <ng-container *ngIf="!showProgressSpinner">
    <ng-container *ngFor="let referrers of instanceList; let i = index">

      <div>
        <mat-label class="referrer_label"
          [ngClass]="{indicateStructuralIssue: isStructuralChange(referrers.referrers[0])}">{{referrers.attributeName}}:
          {{referrers.referrers.length}}</mat-label>
        <button (click)="openTable(referrers.attributeName)" mat-button><mat-icon>arrow_drop_down</mat-icon></button>

      </div>
      <!-- isSelection so that we don't enable the links for dbIds and display name -->
      <app-instance-list-table [id]="referrers.attributeName" [hidden]="showFirstTable(i)" [isSelection]="true"
        [dataSource]="referrers.referrers" [showCheckMark]="false" [actionButtons]="actionButtons"
        [highlightRow]="isStructuralChange(referrers.referrers[0])" (actionEvent)="handleAction($event)"
        (urlClickEvent)="navigateUrl($event)">
      </app-instance-list-table>
    </ng-container>
  </ng-container>
</section>