.dialog_title {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  //color: var(--primary);
  background-color: var(--primary);

}

.dialog_area {
  width: 1200px;
  height: 3000px;
}

.drop_down {
  max-width: 300px;
  margin: auto;
}

.scroll_panel {
  height: auto;
  max-height: 40vh;
  overflow: scroll;
  border: solid;
}

.referrer_label {
  &.indicateStructuralIssue{
    color: red;
  }
}

#ng-container, .mat-h3, .mat-subtitle-1, .mat-typography .mat-h3, .mat-typography .mat-subtitle-1, .mat-typography h3 {
  margin: 0px !important;
}

