<mat-form-field>
  <mat-label>Search</mat-label>
  <!-- Need to track the text using keyup in case the text is deleted but still used for instance list -->
  <input matInput (keydown.enter)="searchForName($event)" (keyup)="recordSearchKey($event)" #input>
</mat-form-field>
<section class="table-container" tabindex="0">
  <ng-container *ngIf="showProgressSpinner">
    <mat-spinner class="spinner demo-table"></mat-spinner>
  </ng-container>
  <ng-container *ngIf="!showProgressSpinner">
  <table mat-table [dataSource]="matDataSource" class="mat-elevation-z8 demo-table">
    <!-- Attribute Name Column -->
    <ng-container matColumnDef="dbId">
      <th mat-header-cell *matHeaderCellDef>dbId</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="isSelection">
          {{element.dbId}}
        </ng-container>
        <ng-container *ngIf="!isSelection">
          <a routerLink="/instance_view/{{element.dbId}}">{{element.dbId}}</a><br>
        </ng-container>
      </td>
    </ng-container>

    <!-- Value Type Column -->
    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef>Display Name</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="isSelection">
          {{element.displayName}}
        </ng-container>
        <ng-container *ngIf="!isSelection">
          <a routerLink="/instance_view/{{element.dbId}}">{{element.displayName}}</a>
        </ng-container>
        <br></td>
    </ng-container>

    <ng-container matColumnDef="viewInstance">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button color="primary" *ngIf="isSelection" mat-icon-button (click)="navigate(element.dbId)">
          <mat-icon>launch</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <ng-container *ngIf="!isSelection">
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns;"
      ></tr>
    </ng-container>
    <ng-container *ngIf="isSelection">
      <tr
        mat-row
        (click)="onRowClick(row)"
        *matRowDef="let row; columns: displayedColumns;"
        [class.selected]="row.dbId === this.selected"
      ></tr>
    </ng-container>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the search key: "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator (page)="onPageChange($event)" [length]="instanceCount" [pageSizeOptions]=pageSizeOptions
                 showFirstLastButtons aria-label="Select page of users"></mat-paginator>
</ng-container>
</section>
