.span-menu-trigger {
    display: inline-block;
    width: 100%;
    /* Adjust the width to your preference
    TODO: Make sure this is the same height as the link in other cells! */
    height: 20px;
    /* Adjust the height to your preference */

    /* Change the background color as needed */
}

mat-form-field {
  width: 100%;
}
