.span-menu-trigger {
  display: inline-block;
  width: 100%;
  /* Adjust the width to your preference
  TODO: Make sure this is the same height as the link in other cells! */
  height: 20px;
  /* Adjust the height to your preference */

  /* Change the background color as needed */
}

.padding {
  padding: 0 16px;
}

:host {
  --mdc-shape-small: 0;
}

mat-form-field {
  width: 100%;
  margin: 0;
  //height: 35px;
  outline: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.mat-mdc-form-field-infix {
  padding-top: 0;
  padding-bottom: 0;
}

.input-style {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  width: 100%;
  line-height: normal;
}

.valueRow {

  &.dragging:hover {

    &.green {
      border: 4px green;
      background: green;
    }

    &.red {
     border: 4px red;
      background: red;
    }
  }
  &.notDragging{
    border-color: #8a9296;
  }
}
