<mat-sidenav-container (dragover)="$event.preventDefault()" autosize="true" style="height: 94vh">
  <mat-sidenav mode="side" opened [disableClose]="true" [style.width]="sideWidth + 'px'">
    <app-side-navigation [showUpdatedList]="showInstanceList"></app-side-navigation>
    <div class="resize-container" (cdkDragMoved)="resize($event)" cdkDrag cdkDragLockAxis="x"
         (cdkDragStarted)="resizing = true" (cdkDragReleased)="resizing = false" [class.resizing]="resizing">
      <div class="resize-bar"></div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="instance-view-container">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--<app-status (showUpdatedEvent)="showUpdatedList($event)"></app-status>-->
