<mat-sidenav-container (dragover)="$event.preventDefault()" autosize="true">
  <mat-sidenav mode="side" opened [disableClose]="true" [style.width]="sideWidth + 'px'">
    <app-schema-class-tree></app-schema-class-tree>
    <div class="resize-container" (cdkDragMoved)="resize($event)" cdkDrag cdkDragLockAxis="x"
         (cdkDragStarted)="resizing = true" (cdkDragReleased)="resizing = false" [class.resizing]="resizing">
      <div class="resize-bar"></div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="instance-view-container">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
