<!--<filter-events (updateEventTree)="filterData($event)"></filter-events>-->
<search-filter (searchInstancesAction)="searchInstances($event)"></search-filter>
<div>
  <ng-container *ngIf="showProgressSpinner">
    <mat-spinner class="spinner"></mat-spinner>
  </ng-container>
</div>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" *ngIf="!showProgressSpinner">

  <!-- Hide the root node -->
  <mat-tree-node style="display: hidden;" class="mat-tree-root-node"
                 *matTreeNodeDef="let node; when: isRootNode">
  </mat-tree-node>

  <!-- This is the table node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node;" matTreeNodePadding matTreeNodeToggle
    matTreeNodePaddingIndent="15"
                 [ngClass] = "node.inFocus === true ? 'inFocus' : ''">
    <!-- use a disabled button to provide padding for table leaf -->
    <div>
      <button mat-icon-button disabled></button>
      <release-flag-icon [doRelease]="node.doRelease"></release-flag-icon>
      <class-name-icon [className]="node.className"></class-name-icon>
      <button mat-button [ngClass]="[node.match === true ? 'event_text_match' : 'event_text_non_match', 'event_text']"
              routerLink="/event_view/instance/{{node.dbId}}"
              (click)="generatePlot(node.dbId, node.className)" cdkFocusInitial>{{node.name}}</button>
    </div>
  </mat-tree-node>
  <!-- This is the table node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding
    matTreeNodePaddingIndent="15"
                 [ngClass] = "node.inFocus === true ? 'inFocus' : ''">
    <button mat-icon-button matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <div>
      <release-flag-icon [doRelease]="node.doRelease"></release-flag-icon>
      <class-name-icon [className]="node.className"></class-name-icon>
      <button mat-button [ngClass]="[node.match === true ? 'event_text_match' : 'event_text_non_match', 'event_text']"
              [hidden]="node.name === 'TopLevelPathway'"
              routerLink="/event_view/instance/{{node.dbId}}"
              (click)="generatePlot(node.dbId, node.className)" cdkFocusInitial>{{node.name}}</button>
    </div>
  </mat-tree-node>
</mat-tree>
