<filter-events (updateEventTree)="filterData($event)" ></filter-events>
<div>
  <ng-container *ngIf="showProgressSpinner">
    <mat-spinner class="spinner"></mat-spinner>
  </ng-container>
</div>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" *ngIf="!showProgressSpinner">
  <!-- This is the table node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node;" matTreeNodePadding matTreeNodeToggle
    matTreeNodePaddingIndent="15"
                 [ngClass] = "[node.inFocus === true ? 'inFocus' : '', node.rootNode === true ? 'rootNode' : '']">
    <!-- use a disabled button to provide padding for table leaf -->
    <button mat-icon-button disabled></button>
    <icon1-image [doRelease]="node.doRelease" ></icon1-image>
    <icon2-image [className]="node.className"></icon2-image>
    <a [ngClass]="node.match === true ? 'event_text_match' : 'event_text'" routerLink="/schema_view/instance/{{node.dbId}}">{{node.name}}</a>&nbsp;
  </mat-tree-node>
  <!-- This is the table node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding
    matTreeNodePaddingIndent="15"
                 [ngClass] = "[node.inFocus === true ? 'inFocus' : '', node.rootNode === true ? 'rootNode' : '']">
    <button mat-icon-button matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <icon1-image [doRelease]="node.doRelease"></icon1-image>
    <icon2-image [className]="node.className"></icon2-image>
    <a [ngClass]="node.match === true ? 'event_text_match' : 'event_text'" routerLink="/schema_view/instance/{{node.dbId}}">{{node.name}}</a>&nbsp;
  </mat-tree-node>
</mat-tree>
