.mat-tree-node {
  display: flex;
  align-items: center;
  min-height: 20px;
  height: 20px;
  margin: 3px;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.mat-tree-node img {
  vertical-align: middle;
}

// Reduce white space the root node takes - as it's always hidden
.mat-tree-root-node {
  min-height: 0px;
  height: 0px;
}

.mat-tree {
  background: var(--surface2);
  height: calc(100vh - 2 * var(--body-margin, 8px)) / 2;
  border: 1px solid var(--outline-variant);
  overflow: scroll;
  // The following shifts the whole tree to the left, to account for removing the top (dummy) node
  margin-left: -30px;
}

.mat-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  padding-bottom: 2px;
  color: var(--primary);
}

.mat-icon-button {
  flex-direction: row-reverse;
  width: 36px; // This is important to show the icon
  height: 18px; // 2px is added
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background: transparent; // these two to make sure no background and border for tree nodes having children.
  border: none;
  cursor: pointer;
}

.mat-icon-button:hover {
  background-color: var(--hover);
}


// Any width and height changes in the following cannot work because of this:
// https://m2.material.io/develop/web/supporting/touch-target.
// .mat-mdc-icon-button .mat-mdc-button-touch-target {
//   position: absolute;
//   top: 50%;
//   height: 18px;
//   left: 50%;
//   width: 36px;
//   transform: translate(-50%, -50%);
//   background-color: green;
// }

.event_tree_node {
  display: flex;
  align-items: center;
}

.drag_place_hold {
  display: flex;
  align-items: center;
  background-color: burlywood;
  max-height: 40px;
}

.event_text {
  text-decoration: none;
  font-size: 12px !important;
  font-weight: 400 !important;
  z-index: 1 !important;
  &:hover {
    text-decoration: underline ;
  }
  font-family: Roboto, sans-serif !important;
}

.event_text_non_match {
  color: var(--surface1) !important;
}

.event_text_match {
  color: dodgerblue !important;
}

.spinner {
  margin:0 auto;
}
