<!--<filter-events (updateEventTree)="filterData($event)"></filter-events>-->
<search-filter (searchInstancesAction)="searchInstances($event)"></search-filter>
<div>
  <ng-container *ngIf="showProgressSpinner">
    <mat-spinner class="spinner"></mat-spinner>
  </ng-container>
</div>
<!-- Don't enable DnD. It cannot work for cytoscape.js!!! -->
<!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" *ngIf="!showProgressSpinner"
cdkDropList
cdkDropListSortingDisabled
(cdkDropListDropped)="drop($event)"
(cdkDropListExited)="exited($event)"
(cdkDropListEntered)="entered()"
[cdkDropListConnectedTo]="['diagram_view_109988']"
> -->
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" *ngIf="!showProgressSpinner">
  <!-- Hide the root node -->
  <mat-tree-node style="display: hidden;" class="mat-tree-root-node"
                 *matTreeNodeDef="let node; when: isRootNode">
  </mat-tree-node>

  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node;" matTreeNodePadding matTreeNodeToggle
    matTreeNodePaddingIndent="15"
                 [ngClass] = "node.inFocus === true ? 'inFocus' : ''">
    <!-- use a disabled button to provide padding for table leaf -->
     <!--Don't enable DnD. -->
    <!-- <div class="event_tree_node" cdkDrag [cdkDragData]="node"> -->
      <!-- <div *cdkDragPlaceholder class="drag_place_hold">
        <ng-container *ngTemplateOutlet="leafNodeTemplate; context: {$implicit: node}"></ng-container>
      </div>     -->
    <div class="event_tree_node">
      <ng-container *ngTemplateOutlet="leafNodeTemplate; context: {$implicit: node}"></ng-container>
    </div>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding
    matTreeNodePaddingIndent="15"
                 [ngClass] = "node.inFocus === true ? 'inFocus' : ''">
    <button mat-icon-button matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <div class="event_tree_node">
      <ng-container *ngTemplateOutlet="leafNodeTemplate; context: {$implicit: node}"></ng-container>
    </div>
  </mat-tree-node>
</mat-tree>

<ng-template #leafNodeTemplate let-node>
  <!-- This is used as a space filler to push the other controls to the right to have a tree-like structure. -->
  <button mat-icon-button disabled *ngIf="!treeControl.isExpandable(node)"></button>
  <button color="primary" class="mat-icon-button v-center" style="width: 18;"
  matTooltip="Click to add this event to diagram" [matTooltipShowDelay]="1000" (click)="addToDiagramAction(node)">
    <mat-icon>new_label</mat-icon>
  </button>
  <release-flag-icon [doRelease]="node.doRelease"></release-flag-icon>
  <class-name-icon [className]="node.className"></class-name-icon>
  <button mat-button 
  [ngClass]="[node.match === true ? 'event_text_match' : 
  'event_text_non_match', 'event_text', (node.hasDiagram ? 'event_text_has_diagram' : 'event_text_has_no_diagram')]"
          [hidden]="node.name === 'TopLevelPathway'"
          (click)="handleEventClick(node)" cdkFocusInitial>{{node.name}}</button>
</ng-template>
