<table mat-table *ngIf="dataSource$ | async as dataSource" [dataSource]="dataSource" matSort
       class="mat-elevation-z8 demo-table">
  <!-- Attribute Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Attribute</th>
    <td class="attColumn" mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <!-- Attribute Value Column -->
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef>Value</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.properties.cardinality === '1'">
        <app-row-element
          [elementValue]="element.value"
          [elementType]="element.type"
          [className]="element.properties.className"
        >
        </app-row-element>
      </ng-container>

      <ng-container *ngIf="element.properties.cardinality === '+'">
        <app-row-element
          *ngFor="let object of element.value"
          [elementValue]="object"
          [elementType]="element.type"
          [className]="element.properties.className"
        >
        </app-row-element>
      </ng-container>
      <ng-container *ngIf="showToolBar[element.name]">
        <app-action-menu>[row]="row"</app-action-menu>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row (click)="onClick(row.name)"
      *matRowDef="let row; columns: displayedColumns;">
  </tr>
</table>
