<div cdkDropList class="bookmark-list"
     id="bookmark-list"
     [cdkDropListConnectedTo]="dragDropService.dropLists"
     [cdkDropListData]="bookmarks" (cdkDropListDropped)="drop($event)">
  <ng-container *ngFor="let instance of bookmarks">
  <div class="example-box" cdkDrag [cdkDragData]="instance">
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
  {{instance.dbId }} <br>
    {{instance.displayName}} <br>
    {{instance.schemaClassName}}
    <button class="clear_button" mat-icon-button color="primary">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  </ng-container>
</div>
