<mat-toolbar class="diagram-toolbar">
  <button mat-icon-button *ngIf="!isDiagramEditing" [disabled]="isLockAcquiring" (click)="onClick('enableEditing')"
    matTooltip="Enable Editing">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button *ngIf="isDiagramEditing" (click)="onClick('disableEditing')" matTooltip="Disable Editing">
    <mat-icon>edit_off</mat-icon>
  </button>
  <button mat-icon-button *ngIf="isLockOwnedByMe" (click)="onClick('unlockDiagram')" matTooltip="Unlock Diagram">
    <mat-icon>lock_open</mat-icon>
  </button>

  <span class="toolbar-divider"></span>
  <button mat-icon-button (click)="onClick('zoomIn')" matTooltip="Zoom In">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button (click)="onClick('zoomOut')" matTooltip="Zoom Out">
    <mat-icon>remove</mat-icon>
  </button>
  <button mat-icon-button (click)="onClick('fitToScreen')" matTooltip="Fit to Screen">
    <mat-icon>zoom_out_map</mat-icon>
  </button>

  <span class="toolbar-divider"></span>
  <button mat-icon-button *ngIf="!showDbIdSearch" (click)="openDbIdSearch()" matTooltip="Find by dbId">
    <mat-icon>search</mat-icon>
  </button>
  <div class="dbid-search" *ngIf="showDbIdSearch">
    <input #dbIdInput type="text" class="dbid-search-input" placeholder="Find by dbId"
      matTooltip="Enter a dbId and press Enter to select and zoom to that object in this diagram."
      (keydown.enter)="onFindByDbId(dbIdInput.value)"
      (keydown.escape)="showDbIdSearch = false"
      (blur)="showDbIdSearch = false">
  </div>

  <ng-container *ngIf="isDiagramEditing">
    <span class="toolbar-divider"></span>
    <button mat-icon-button [disabled]="!canUndo" (click)="onClick('undo')" matTooltip="Undo (Ctrl+Z)">
      <mat-icon>undo</mat-icon>
    </button>
    <button mat-icon-button [disabled]="!canRedo" (click)="onClick('redo')" matTooltip="Redo (Ctrl+Shift+Z)">
      <mat-icon>redo</mat-icon>
    </button>
    <button mat-icon-button (click)="onClick('insertCompartment')" matTooltip="Insert Compartment">
      <mat-icon>add_box</mat-icon>
    </button>
    <button mat-icon-button [disabled]="!canAlign" (click)="onClick('alignCentersVertically')"
      matTooltip="Align Centers Vertically">
      <mat-icon>align_horizontal_center</mat-icon>
    </button>
    <button mat-icon-button [disabled]="!canAlign" (click)="onClick('alignCentersHorizontally')"
      matTooltip="Align Centers Horizontally">
      <mat-icon>align_vertical_center</mat-icon>
    </button>
    <button mat-icon-button *ngIf="hasActiveResizing" (click)="onClick('disableAllResizing')"
      matTooltip="Disable All Resizing">
      <mat-icon>block</mat-icon>
    </button>
  </ng-container>

  <span class="toolbar-spacer"></span>

  <button mat-icon-button *ngIf="isDiagramEdited" (click)="onClick('upload')" matTooltip="Upload Diagram">
    <mat-icon>cloud_upload</mat-icon>
  </button>
  <button mat-icon-button (click)="onClick('reload')" matTooltip="Reload Pathway Diagram">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button (click)="onClick('editPathwayDiagram')" matTooltip="Edit/Create PathwayDiagram">
    <mat-icon>description</mat-icon>
  </button>
    <button mat-icon-button (click)="onClick('toggleDarkMode')" matTooltip="Toggle Color Theme">
    <mat-icon>brightness_4</mat-icon>
  </button>
  
</mat-toolbar>
