// .schema-class-table {
//   width: 100%;
//   overflow: scroll;
// }

.mat-mdc-row {
  height: 30px;
  z-index: 2;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.mat-header-row, .mat-header-cell {
  position: sticky;
  top: 0;
  z-index: 2; 
}

th {
  background: var(--primary-container) !important;
  color: var(--on-primary-container) !important;
  position: sticky;
  top: 0;
  z-index: 1;

}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
}


.table-container {
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.scrollable-table {
  overflow-y: scroll; 
}

.fixed-info {
  position: sticky; 
  bottom: 10; 
  background-color: #f9f9f9; 
  padding: 10px;
  border-top: 1px solid #ccc;
  z-index: 1; 
}

.header{
  text-align: center; 
  color: white;
  background-color: var(--primary);
  margin: 0 !important;
}

.highlight-row {
  background-color: #f0f8ff; /* Light blue background */
}
