.schema-class-table {
  width: 100%;
  overflow: scroll;
}

.mat-mdc-row {
  height: 30px;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

th {
  background: var(--primary-container) !important;
  color: var(--on-primary-container) !important;
}

// .table-container {
//   max-height: calc(100vh - var(--title-height));
//   height: calc(100vh - var(--title-height));
//   overflow: auto;
//   border: none;
// }

.table-container {
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.scrollable-table {
  flex: 1;
  overflow-y: auto; 
  margin-bottom: 10px; 
}

.fixed-info {
  position: sticky; 
  bottom: 0; 
  background-color: #f9f9f9; 
  padding: 10px;
  border-top: 1px solid #ccc;
  z-index: 1; 
}

.header{
  text-align: center; 
  color: white;
  background-color: var(--primary);
  margin: 0 !important;
}

.highlight-row {
  background-color: #f0f8ff; /* Light blue background */
}
