<section class="table-container" tabindex="0">
  <h2 class="header">Attributes of class '{{className}}'</h2>
  <div class="scrollable-table">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Attribute Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Attribute Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <!-- Value Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Value Type</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="(AttributeDataType[element.type] | titlecase) === 'Instance'; else elseBlock">
          <a routerLink="/schema_view/class/{{element.allowedClases}}">{{element.allowedClases}}</a></ng-container>
        <ng-template #elseBlock>{{AttributeDataType[element.type] | titlecase}}</ng-template>
      </td>
    </ng-container>

    <!-- Value Category Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
      <td mat-cell *matCellDef="let element">

        {{AttributeCategory[element.category] | titlecase}}</td>
    </ng-container>

    <!-- Allowed Classes Column -->
    <ng-container matColumnDef="allowedClases">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Allowed Classes</th>
      <td mat-cell *matCellDef="let element">{{element.allowedClases}}</td>
    </ng-container>

    <!-- Origin Column -->
    <ng-container matColumnDef="origin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Attribute Origin</th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="/schema_view/class/{{element.origin}}">{{element.origin}}</a>
      </td>
    </ng-container>

    <!-- Cardinality Column -->
    <ng-container matColumnDef="cardinality">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cardinality</th>
      <td mat-cell *matCellDef="let element">
        {{element.cardinality}}
        <!-- <ng-container *ngIf="element.cardinality === '1'">Single</ng-container>
        <ng-container *ngIf="element.cardinality === '+'">Multiple</ng-container> -->
      </td>
    </ng-container>

    <!-- Defining Type Column -->
    <ng-container matColumnDef="definingType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Defining Type</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="(AttributeDefiningType[element.definingType] | titlecase) === 'Undefined'; else elseBlock">
        </ng-container>
        <ng-template #elseBlock>{{AttributeDefiningType[element.definingType] | titlecase }}</ng-template>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" sticky="true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      [ngClass]="{'highlight-row': row.origin === className}"></tr>
  </table>
  </div>
  <br>
  <div class="fixed-info">
    <p>*The Sidebar on the left shows the hierarchy of Reactome classes.</p>
    <p>The number of instances of this class is shown in square brackets and is hyperlinked to a page listing all
      instances in this class.</p>
  
    <p> The main panel shows attributes of the selected class. Own attributes, i.e. the ones which are not inherited from
      a parent class are indicated in colour.
    </p>
  
    <p>'+' in 'Cardinality' column indicates that this is a multi-value attribute.</p>
  </div>
</section>