<ng-container [ngSwitch]="elementType">
  <ng-template [ngSwitchCase]="'BOOLEAN'">
    <mat-slide-toggle [(ngModel)]="elementValue" color="primary"
              disabled="{{isDisabled}}"
              required="{{isRequired}}">
    </mat-slide-toggle>
  </ng-template>
  <ng-template [ngSwitchCase]="'STRING'">
    <mat-form-field appearance="fill" subscriptSizing="dynamic" style="width: 100%">
      <input [(ngModel)]="elementValue" matInput type="text"
             disabled="{{isDisabled}}"
             required="{{isRequired}}">
    </mat-form-field>
  </ng-template>

  <ng-template [ngSwitchCase]="'INTEGER'">
    <mat-form-field appearance="fill" subscriptSizing="dynamic" style="width: 100%">
      <input [(ngModel)]="elementValue" matInput type="number"
             disabled="{{isDisabled}}"
             required="{{isRequired}}">
    </mat-form-field>
  </ng-template>

  <ng-template [ngSwitchCase]="'FLOAT'">
    <mat-form-field appearance="fill" subscriptSizing="dynamic" style="width: 100%">
      <input [(ngModel)]="elementValue"
             matInput type="number"
             [disabled]="isDisabled"
             [required]="isRequired">
    </mat-form-field>
  </ng-template>

  <ng-template [ngSwitchCase]="'INSTANCE'">
    <ng-container>
      <a routerLink="/properties-table/{{elementValue?.dbId}}" (click)="onClick()">{{elementValue?.dbId}}
        {{elementValue?.displayName}}<br></a>
    </ng-container>
  </ng-template>
</ng-container>
