<mat-dialog-content>
    <h2 class="dialog_title" mat-dialog-title>Values of '{{data.selectedAttribute}}' for selected instances:</h2>

    <div style="flex-direction: column;">
        <ng-container *ngIf="data.values[0]?.dbId; else elseTemplate">
            <app-instance-list-table [dataSource]="data.values" [showCheckMark]="true"
                (actionEvent)="handleAction($event)" (selectionEvent)="onRowClick($event)">
            </app-instance-list-table>

        </ng-container>


        <ng-template #elseTemplate>
            <app-attribute-list-values-table [values]="data.values" [selectedValues]="selectedAttributes"
                (selectValue)="addCheckBox($event)" (deselectValue)="removeCheckBox($event)">
            </app-attribute-list-values-table>
        </ng-template>



        <mat-label>Selected Attributes: </mat-label>
        <section class="scroll_panel" style="margin-top: 10px; max-height: 300px; overflow: auto; width: 100%;">
            <app-attribute-list-values-table [values]="selectedAttributes" [selectedValues]="selectedAttributes"
                (deselectValue)="removeCheckBox($event)">
            </app-attribute-list-values-table>
        </section>
    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onOK()" cdkFocusInitial>OK</button>
    <button mat-button (click)="onCancel()">Cancel</button>
</mat-dialog-actions>