<div>
  <mat-form-field class="fc-margin">
    <mat-label>Select attribute</mat-label>
    <mat-select class="text-sm" [(value)]="selectedAttribute">
      @for (attribute of schemaAttributes; track attribute) {
      <mat-option class="text-sm" [value]="attribute">{{attribute}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="fc-margin">
    <mat-label>Select operand</mat-label>
    <mat-select class="text-sm" [(value)]="selectedOperand">
      @for (operand of operands; track operand) {
      <mat-option class="text-sm" [value]="operand">{{operand}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="fc-margin">
    <mat-label>Enter search token</mat-label>
    <input id="searchKey" (keyup)="recordSearchKey($event)" class="text-sm" matInput #input>
  </mat-form-field>
  <ng-container *ngIf="index <= 8">
    <button matTooltip="Add attribute to query" (click)="add()" mat-icon-button style="margin-left: 5px; margin-bottom: 20px;">+</button>
  </ng-container>
  <ng-container *ngIf="index > 0">
    <button matTooltip="Remove attribute" (click)="remove()" mat-icon-button style="margin-left: 5px; margin-bottom: 20px;">-</button>
  </ng-container>
</div>
<!--<button style="margin: 10px;" [hidden]="hideSearchPanel === '' ? 'hidden' : ''" mat-raised-button (click)="onHideSelectionChange()">{{hideShowButtonLabel}}</button>-->
