<div style="width: 100%">
  <mat-form-field class="fc-margin inline wrap" >
    <mat-label>Select attribute</mat-label>
    <mat-select class="text-sm" [(value)]="attributeCondition.attributeName">
      @for (attribute of schemaAttributes; track attribute) {
      <mat-option class="text-sm" [value]="attribute">{{attribute}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="fc-margin inline wrap" >
    <mat-label>Select operand</mat-label>
    <mat-select class="text-sm" [(value)]="attributeCondition.operand">
      @for (operand of operands; track operand) {
      <mat-option class="text-sm" [value]="operand">{{operand}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field id="searchKeyField" class="fc-margin inline wrap" style="width: 50%">
    <mat-label>Enter search token</mat-label>
    <input [(ngModel)]="attributeCondition.searchKey" id="searchKey" (keyup)="recordSearchKey($event)" class="text-sm" matInput #input>
  </mat-form-field>
  <!-- In total we allow 8 search criteria for now. -->
  <ng-container *ngIf="attributeCondition.index <= 8">
    <button matTooltip="Add attribute" (click)="addNewPane()" style="margin-left: 5px; margin-bottom: 20px;">Add to search</button>
  </ng-container>
<!--  <ng-container *ngIf="attributeCondition.index > 0">-->
<!--    <button matTooltip="Remove this attribute" (click)="removePane()" mat-icon-button style="margin-left: 5px; margin-bottom: 20px;">-</button>-->
<!--  </ng-container>-->
</div>
