.text-sm {
  font-size: 13px !important;
}

::ng-deep .mat-mdc-option {
  min-height: 13px !important;
}

.fc-margin {
  flex-wrap: wrap;
  padding: 5px;
}

.custom-search-icon {
  height: 36px !important;
  width: 36px !important;
  font-size: 28px !important;
  padding: 5px;
}
