:host {
    overflow: auto;
    display: table;
    flex-direction: column;
    align-items: flex-start;
    width: 97vw;
    text-align: center;

  }
  
  .section_title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: var(--primary);
    height: 50px;
    color: white;
    line-height: 50px;
  }

  .title {
    margin-top: 8px;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .query_gene {
    color: red;
    font-weight: bold;
  }

  .note {
    font-size: smaller;
    font-weight: lighter;
    font-style: italic;
  }

  .error {
    font-weight: bold;
    color: red;
  }

  .file_input {
    display: none;
  }

  .center {
    margin: auto;
    width: 35%;
    border: 1px solid var(--primary);
    border-radius: 4px;
    padding: 10px;
    height: min-content;
  }

  .gene_input {
    background: var(--surface-variant); 
    color: var(--on-primary-container);
    // width: 200px;
    // min-width: 100px;
    outline: rgb(126, 166, 201);
    width: 150px; 
    margin-right: 10px;
    align-items: center;
  }

  .custom-search-icon {
    height: 24px !important;
    width: 24px !important;
    font-size: 24px !important;
    position: bottom !important;
    padding: 10px !important;
  }

  .example-card {
    // max-width: 400px;
    width:fit-content;
  }
  
  .example-card-footer {
    padding: 16px;
  }

  .mat-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: var(--primary);
    text-align: left;
    vertical-align: middle;
    // line-height: 50px;
  }

  .button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    // position:relative; 
    // height: 42px;
    // width: 42px;
    border: none;
    padding-right: 10px;
  }

  .button-style {
    background:  var(--surface-variant); color: var(--on-primary-container);
    position:relative; 
    height:52px;
    width: 52px;
    border: none;
    margin-top: 10px;
    border-bottom: 1px solid var(--primary);;
  }

  .gene_label {
    // background: var(--surface-variant); color: var(--on-primary-container);
    //height: 32px;
    // border-bottom: 1px solid var(--primary);;
    // padding: 10px;
    margin-right: 10px;
    color: var(--primary);
    align-items: center;

    display: flex;
    justify-content: flex-end; /* Right-align content inside */
    
    // line-height: 35px;
  }

  .menu_style {
    width: 200px; 
    position: fixed; 
    top: 5em; 
    left: 1em;
    background: none;
    outline: none;
  }

  .mat-drawer {
    bottom: auto !important;
  }

  .mat-drawer-side {
    border-right-style: none !important;
  }