//.schema_class_text {
//  text-align: left;
//  font-size: 12px;
//}
.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.example-tree-node {
  display: block;
}

.mat-tree-node {
  min-height: 20px;
  margin: 6px;

}

mat-tree {
  background: var(--surface2);
  margin-right: 10px;
  height: calc(100vh - 2*10px);
  border: 1px solid black;
  overflow: scroll;
  position: sticky;
}

.mat-icon {
  color: var(--primary);
  //line-height: 10px;
  //height: 10px;
}
