.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.example-tree-node {
  display: block;
}

.mat-tree-node {
  min-height: 20px;
  height: 20px;
  margin: 3px;
  flex-wrap: nowrap;
  white-space: nowrap;
}

mat-tree {
  background: var(--surface2);
  height: calc(100vh - 2 * var(--body-margin, 8px));
  border: 1px solid var(--outline-variant);
  overflow: scroll;
  position: sticky;
}

.mat-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: var(--primary);
  text-align: left;
  }
//
//.mat-icon-button {
//  padding: 0;
//  left: 10px;
//}
