<mat-sidenav-container>
  <mat-sidenav mode="side" opened style="width: 25vw;">
    <app-schema-class-tree></app-schema-class-tree>
  </mat-sidenav>
  <mat-sidenav-content style="width:75vw" class="instance-view-container">
    <app-bread-crumb [newMenuItem]="viewHistory" (clickEvent)="changeTable($event)">
    </app-bread-crumb>
    <mat-toolbar class="toolbar">
      <span *ngIf="instance !== undefined">
        {{instance?.schemaClass?.name}}: {{instance?.displayName}} [{{instance?.dbId}}]
      </span>
    </mat-toolbar>
    <app-instance-table [instance]="instance">
    </app-instance-table>
  </mat-sidenav-content>
</mat-sidenav-container>
