.toolbar {
  font-size: 16px;
  height: var(--title-height, 40px);
  position: sticky;
  top: var(--bread-crumb-height, 40px);
}

.position {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.breadCrumb {
  height: 5vh;
}

.instance-view-container {
  max-height: 100vh;
  --bread-crumb-height: 40px;
  --title-height: 5vh;
}
