.toolbar {
  font-size: 16px;
  height: var(--title-height, 40px);
  position: sticky;
  padding: 0 0 0 16px;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.shrinkable{
  flex: 1 1 auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-overflow: ellipsis;

}
.position {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.breadCrumb {
  height: 5vh;
}

.button-container {
  //background-color: var(--surface2);
  //right: 0;
  //position: relative;
  //height: var(--title-height, 40px);
  flex: 0 0 auto;
}

.v-center {
  //right: var(--body-margin);
  //position: fixed;
  //height: var(--title-height, 40px);
  //background-color: var(--surface);
  vertical-align: text-top;
}

// For deleted instance
.deleted {
  text-decoration: line-through;
}

.bug-report-color {
  vertical-align: text-top;
  &.unchecked {
    color: var(--primary);
  }
  &.passed {
    color: rgb(83, 229, 83);

  }
  &.failed {
    color: red;
  }
  &.disabled{
    color: grey;
  }
}