.toolbar {
  font-size: 16px;
  height: var(--title-height, 40px);
  position: sticky;
}

.title {
  width: 10px;
  word-wrap: break-word;
  inline-size: 15px;
  overflow-wrap: break-word;
}

.position {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.breadCrumb {
  height: 5vh;
}

.button-container {
  background-color: var(--surface2);
  right: 0;
  position: relative;
  height: var(--title-height, 40px);
}

.button {
  right: var(--body-margin);
  position: fixed;
  height: var(--title-height, 40px);
  background-color: var(--surface);
}
