<app-bread-crumb [newMenuItem]="viewHistory" (clickEvent)="changeTable($event)">
</app-bread-crumb>
<ng-container *ngIf="showProgressSpinner">
  <!-- Probably should not use this hard-coded min-height? -->
  <mat-spinner class="spinner"></mat-spinner>
</ng-container>
<mat-toolbar class="toolbar" *ngIf="!showProgressSpinner">
      <span *ngIf="instance !== undefined">
        {{instance.schemaClass?.name}}: {{instance.displayName}} [{{instance.dbId}}]
      </span>
</mat-toolbar>
<app-instance-table [instance]="instance" *ngIf="!showProgressSpinner"></app-instance-table>
