<h2 class="dialog_title" mat-dialog-title cdkdraghandle> QA Report for "{{qaReport!.instance.displayName}}"</h2>
<mat-dialog-content style="width: 100%">
  <ng-container *ngFor="let check of qaReport!.qaResults">
    <h4 style="display: flex;" class="check-title">{{check.checkName}}: 
      <ng-container *ngIf="check.passed">
        <p style="color: green; white-space: pre;"> Passed</p>
      </ng-container>
    </h4>

    <qa-report-table *ngIf="!check.passed" [rows]="check.rows ? check.rows : []"
      [colNames]="check.columns ? check.columns : []"></qa-report-table>
    <!-- <br> -->
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Close</button>
</mat-dialog-actions>