<h2 class="dialog_title" mat-dialog-title cdkdraghandle> QA Report for {{qaReport!.instance.displayName}}</h2>
<mat-dialog-content style="width: 100%">
  <ng-container *ngFor="let check of qaReport!.testsRun" >
    <h4>{{check.checkName}}:</h4>
  <ng-container *ngIf="check.checkPassed">
    <h4 style="color: green">Test Passed</h4>
  </ng-container>
    <qa-report-table *ngIf="!check.checkPassed" 
      [rows]="check.rows"
      [colNames]="check.columns"></qa-report-table>
    <br>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
</mat-dialog-actions>
