.demo-table {
  width: 100%;
}

.mat-mdc-row {
  height: 30px;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

th {
  background: var(--primary-container) !important;
  color: var(--on-primary-container) !important;
  height: var(--bread-crumb-height, 40px) !important;
}

.table-container {
  max-height: 100vh;
  height: calc(100vh - var(--bread-crumb-height) - var(--filter-height) - 2 * var(--body-margin));
  overflow: scroll;
  border: none;
}

.toolbar {
  //height: 5vh;
  height: var(--bread-crumb-height, 40px);
  font-size: 16px;
  font-weight: bold;
}

.filter {
  width: 100%;
}

mat-form-field {
  margin-top: 5px;
  width: 100%;
  height: var(--filter-height, 80px);
  outline: none;
  margin-bottom: -1.25em;
  line-height: 40px;
  font-size: 14px;

}

::ng-deep .mat-form-field-wrapper{
  margin-bottom: -1.25em;
}
