.bookmark-list {
  // TODO: This value 95 has been used in the schema view and event view too.
  // Need to refactor this to a common place.
  height: 95vh;
  width: 250px;
  display: block;
  border-radius: 4px;
  overflow: scroll;
  z-index: 1;
}

.bookmark-container {
  border-bottom: solid 1px #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  //cursor: move;
  background: var(--primary-container);
  color: var(--on-primary-container);
  width: 250px;
}

.drag-item-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: var(--primary-container);
  color: var(--on-primary-container);
  width: 275px;
  border: 0;
  text-align: right;
}

.drag_icon {
  width: 24px; 
  text-align: left;
  overflow:visible;
  color: #006782 !important;
}

.bookmark-container:hover {
  outline: auto;
  outline-color: var(--on-primary-container)

}

.clear_button {
  right: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  &.hide {
    width:0;
    height:0;

  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.bookmark-container:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .bookmark-container:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.no-bookmarks {
  height: 50%;
  max-height: 50%;
}

