<div cdkDropList class="bookmark-list"
     id="bookmark-list"
     [cdkDropListConnectedTo]="dragDropService.dropLists"
     [cdkDropListData]="bookmarks" (cdkDropListDropped)="drop($event)">
  <ng-container *ngFor="let instance of bookmarks">
    <div class="bookmark-container" cdkDrag [cdkDragData]="instance" [ngClass]="dragging">
      <div class="bookmark-placeholder" *cdkDragPlaceholder>
        <div *ngIf="dragDropService.canDrop" class="bookmark-container">
          {{instance.displayName}}
        </div>
      </div>
      <button class="drag-item-button" (click)="navigate(instance)"
        [matTooltip]="instance.schemaClassName + ' ' + '[' + instance.dbId.toString() + ']'">
        <mat-icon class="drag_icon">open_with</mat-icon>
        {{instance.displayName}}
      </button>
      <button class="clear_button" matTooltip="Remove Instance" mat-icon-button color="primary" (click)="onRemove(instance)">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="bookmarks.length === 0">
    <span class="no-bookmarks">No bookmarks to show</span>
  </ng-container>
</div>
