
  <div class="menu-row" cdkMenu >
    <button class="menu-item" cdkMenuItem>Delete</button>
    <button class="menu-item" cdkMenuItem >Delete all</button>
    <button class="menu-item" cdkMenuItem>Insert</button>
  </div>

<!--<mat-menu #menu="matMenu">-->
<!--  <button mat-menu-item>-->
<!--    <mat-icon>dialpad</mat-icon>-->
<!--    <span>Redial</span>-->
<!--  </button>-->
<!--  <button mat-menu-item disabled>-->
<!--    <mat-icon>voicemail</mat-icon>-->
<!--    <span>Check voice mail</span>-->
<!--  </button>-->
<!--  <button mat-menu-item>-->
<!--    <mat-icon>notifications_off</mat-icon>-->
<!--    <span>Disable alerts</span>-->
<!--  </button>-->
<!--</mat-menu>-->



<!--<form class="example-form" *ngIf="showPanel">-->
<!--  <mat-form-field class="example-full-width">-->
<!--    <mat-label>Assignee</mat-label>-->
<!--    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">-->
<!--    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">-->
<!--      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">-->
<!--        {{option.name}}-->
<!--      </mat-option>-->
<!--    </mat-autocomplete>-->
<!--  </mat-form-field>-->
<!--</form>-->

<!--<button mat-raised-button (click)="showLookupPanel()">Create Event</button>-->
