<h2 class="dialog_title" mat-dialog-title cdkdraghandle>Select an Instance</h2>
<mat-dialog-content style="width: 100%; height: 100%;">
  <!-- <div style="height: 65%"> -->
  <mat-label>Select a Schema Class: </mat-label>
  <mat-select [(value)]="selected" class="drop_down" (selectionChange)="onSelectionChange()">
    <ng-container>
      <mat-option *ngFor="let value of candidateClasses" [value]="value">
        {{value}}
      </mat-option>
    </ng-container>
  </mat-select>

  <mat-tab-group>
    <mat-tab label="Database Instances">
      <section class="scroll_panel">
        <!-- For this list, we use a pagesize = 20 as the default for easy check: users are expected to do searching here. -->
        <app-instance-list-view [showDeletion]="false" [showBatchEdit]="false" [setClassName]="this.selected" [isSelection]="true" [pageSize]="20"
          (clickEvent)="onSelectRow($event)"></app-instance-list-view>
      </section>
    </mat-tab>
    <mat-tab label="New and Updated Instances">
      <section class="scroll_panel">
        <!-- For this list, we use a pagesize = 20 as the default for easy check: users are expected to do searching here. -->
        <app-instance-list-view [showDeletion]="false" [showBatchEdit]="false" [isLocal]="true" [setClassName]="this.selected" [isSelection]="true" [pageSize]="20"
          (clickEvent)="onSelectRow($event)"></app-instance-list-view>
      </section>
    </mat-tab>
  </mat-tab-group>

  <br>
  <mat-label>Selected Instances: </mat-label>
  <ng-container *ngIf="isSingleValued">
    <h4>*Only one value may be selected for {{attributeValue.attribute.name}}.</h4>
  </ng-container>
  <ng-container *ngIf="this.selectedInstances.length > 0">
    <section class="scroll_panel">
      <app-selected-instances-table [dataSource]="selectedInstances"
        (removeEvent)="onRemoveEvent($event)"></app-selected-instances-table>
    </section>
  </ng-container>
  <!-- </div> -->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onOK()" cdkFocusInitial>OK</button>
  <button mat-button (click)="onCancel()">Cancel</button>
</mat-dialog-actions>