.dialog_title {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  //color: var(--primary);
  background-color: var(--primary);

}

.dialog_area {
  width: 1200px;
  height: 3000px;
}

.drop_down {
  max-width: 300px;
  margin: auto;
}

.scroll_panel {
  height: auto;
  max-height: 50vh;
  overflow: scroll;
  border: solid;
}

.options-panel {
  max-height: 50vh;
  overflow: scroll;
  border: solid;
  min-height: 5vh;
}

.selected-instances-panel {
  min-height: 20vh;
  max-height: 50vh;
  overflow: scroll;
  border: solid;
}

.etched-content {
  border: 1px solid var(--outline-variant);
  border-radius: 6px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  padding: 10px;
  margin: 0 8px;
}

/* dialog.component.css */
mat-dialog-content {
  overflow: auto; /* Makes content scrollable if it exceeds dialog height */
  max-height: calc(100vh - 150px); /* Adjusts the height of content dynamically */
}

mat-dialog-actions {
  padding: 8px 24px; /* Optional: Add spacing for the actions */
}

.example-accordion {
  display: block;
  max-width: 1000px;
}