.dialog_title {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  //color: var(--primary);
  background-color: var(--primary);

}

.dialog_area {
  width: 1200px;
  height: 3000px;
}

.drop_down {
  max-width: 300px;
  margin: auto;
}

.scroll_panel {
  height: auto;
  max-height: 50vh;
  overflow: scroll;
  border: solid;
}

/* dialog.component.css */
mat-dialog-content {
  overflow: auto; /* Makes content scrollable if it exceeds dialog height */
  max-height: calc(100vh - 150px); /* Adjusts the height of content dynamically */
}

mat-dialog-actions {
  padding: 8px 24px; /* Optional: Add spacing for the actions */
}