.matched-instances-table {
  width: 100%;
  min-width: 400px;
  margin-bottom: 16px;
}

.match-group {
  margin-bottom: 16px;
}

.match-group-title {
  margin-bottom: 4px;
}

.launch-cell {
  .mini-btn {
    cursor: pointer;
  }
}
