:host {
    overflow: auto;
    display: table;
    flex-direction: column;
    align-items: flex-start;
    width: 97vw;
    text-align: center;

  }
  
  .section_title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: var(--primary);
    height: 50px;
    color: white;
    line-height: 50px;
  }

  .title {
    margin-top: 8px;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .query_gene {
    color: red;
    font-weight: bold;
  }

  .note {
    font-size: smaller;
    font-weight: lighter;
    font-style: italic;
  }

  .error {
    font-weight: bold;
    color: red;
  }

  .file_input {
    display: none;
  }

  // .center {
  //   text-align: center;
  // }

  .label {
    background: var(--surface-variant); color: var(--on-primary-container);
    // width: 200px;
    // min-width: 100px;
    outline: black;
  }

  .custom-search-icon {
    height: 24px !important;
    width: 24px !important;
    font-size: 24px !important;
    position: bottom !important;
    padding: 10px !important;
  }

  .example-card {
    max-width: 400px;
  }
  
  .example-card-footer {
    padding: 16px;
  }