:host {
    overflow: auto;
    display: table;
    flex-direction: column;
    align-items: flex-start;
    width: 97vw;
    text-align: center;

  }
  
  .section_title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: var(--primary);
    height: 50px;
    color: white;
    line-height: 50px;
  }

  .title {
    margin-top: 8px;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .query_gene {
    color: red;
    font-weight: bold;
  }

  .note {
    font-size: smaller;
    font-weight: lighter;
    font-style: italic;
  }

  .error {
    font-weight: bold;
    color: red;
  }

  .file_input {
    display: none;
  }

  .center {
    margin: auto;
    width: 25%;
    border: 3px solid var(--primary);
    padding: 10px;
    height: min-content;
  }

  .label {
    background: var(--surface-variant); color: var(--on-primary-container);
    // width: 200px;
    // min-width: 100px;
    outline: black;
  }

  .custom-search-icon {
    height: 24px !important;
    width: 24px !important;
    font-size: 24px !important;
    position: bottom !important;
    padding: 10px !important;
  }

  .example-card {
    max-width: 400px;
  }
  
  .example-card-footer {
    padding: 16px;
  }

  .mat-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: var(--primary);
    text-align: left;
    vertical-align: middle;
    // line-height: 50px;
  }

  .container {
    background: none;
    // position:relative; 
    height: 42px;
    width: 42px;
    border: none;
    padding-right: 10px;
  }

  .button-style {
    background:  var(--surface-variant); color: var(--on-primary-container);
    position:relative; 
    height:52px;
    width: 52px;
    border: none;
    margin-top: 10px;
    border-bottom: 1px solid var(--primary);;
  }

  .gene-label {
    background: var(--surface-variant); color: var(--on-primary-container);
    height: 32px;
    border-bottom: 1px solid var(--primary);;
    padding: 10px;
    width: 150px;
    margin-top: 10px;
    color: var(--primary);
    line-height: 35px;
    overflow: hidden;
  }

  .enter-gene-text {
    // bottom: 100px !important;
    overflow: hidden;
  }