  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Dynamically generate columns -->
    <ng-container *ngFor="let column of colNames" matColumnDef="{{column}}">
      <th class="column-style" mat-header-cell *matHeaderCellDef>{{column}}</th>
      <td mat-cell *matCellDef="let element"> 
        <ng-container *ngIf="element[column].dbId; else elseblock">
          <a style="text-decoration: underline; cursor:grab"
          (click)="navigate(element[column].dbId)">{{element[column].displayName + " [" + element[column].dbId + "]"}}</a>
        </ng-container>
        <ng-template #elseblock>
          {{element[column]}} 
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colNames"></tr>
    <tr mat-row *matRowDef="let row; columns: colNames;"></tr>
  </table>