<div>
  <mat-form-field style="float:left; width: 40%" class="event-filter">
    <mat-label>species</mat-label>
    <mat-select [(value)]="selected" class="event-filter" (selectionChange)="onSpeciesSelectionChange($event)">
      <mat-option *ngFor="let s of species" [value]="s" class="filter-option">{{ s }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="float:left; width: 60%" class="event-filter">
    <mat-label>filter</mat-label>
    <!-- Don't trim the text. We may need to use pre and post space to narrow down filter
     e.g. for EGFR only, to avoid include VEFGR3 etc. -->
    <input matInput #input
    (keydown.enter)="handleFilterEvent(input.value)"
    matTooltip="Use text to filter for name and number for dbId. Use schema view for advanced search.">
  </mat-form-field>
</div>