<mat-action-list class="action-menu" cdkMenu *ngIf="!hidePanel">
  <button class="action-button" (click)="onClick(EDIT_ACTION.ADD_NEW)">
    <mat-icon>add_box</mat-icon> Add via Creation</button>
  <button class="action-button" (click)="onClick(EDIT_ACTION.ADD_VIA_SELECT)">
    <mat-icon>search</mat-icon> Add via Selection</button>
  <button class="action-button" (click)="onClick(EDIT_ACTION.REPLACE_NEW)">
    <mat-icon>switch_access_shortcut_add</mat-icon> Replace via Creation</button>
  <button class="action-button" (click)="onClick(EDIT_ACTION.REPLACE_VIA_SELECT)">
    <mat-icon>find_replace</mat-icon> Replace via Selection</button>
  <button class="action-button" (click)="onClick(EDIT_ACTION.DELETE)">
    <mat-icon>delete</mat-icon> Delete</button>
  <button class="action-button" (click)="onClick(EDIT_ACTION.EDIT)">
    <mat-icon>edit</mat-icon> Edit</button>
</mat-action-list>
