<mat-card class="card-style">
    <br>
    <div>
        <mat-form-field class="form-field">
            <mat-label>Functional Interaction Score ≥ </mat-label>
            <input class="label" [(ngModel)]=configuration.fiScoreCutoff matInput min="0"
                max="0.9" step="0.1" type="number" #fiScoreInput>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Top Pubmed Results: </mat-label>
            <input class="label" [(ngModel)]=configuration.numberOfPubmed
                matInput placeholder="8" min="0"
                type="number" #pubmedResultsInput>
        </mat-form-field>

    </div>

    <div>
        <mat-form-field class="form-field">
            <mat-label>Pathway Similarity Cutoff: </mat-label>
            <input class="label" [(ngModel)]=configuration.cosineSimilarityCutoff
                matInput
                placeholder="0.38" min="0" max="0.9" step="0.01" type="number" #pathwaySimilarityCutoffInput>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>LLM Score Cutoff: </mat-label>
            <input class="label" [(ngModel)]=configuration.llmScoreCutoff
                matInput placeholder="3" min="0"
                type="number" #llmScoreCutoffInput>
        </mat-form-field>

    </div>

    <div>
        <mat-form-field class="form-field">
            <mat-label>Pathway count: </mat-label>
            <input appearance="outline" [(ngModel)]=configuration.numberOfPathways
                class="label" matInput placeholder="8"
                min="0" max="20" step="1" type="number" #pathwayCountInput>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>FDR: < </mat-label>
            <mat-select appearance="outline" [(ngModel)]=configuration.fdrCutoff 
                class="label">
                <mat-option *ngFor="let fdr of fdrOptions" [value]="fdr">
                    {{ fdr }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <button (click)="resetValues()" mat-button class="reset-button">
            <mat-icon>refresh</mat-icon> Reset
        </button>
    </div>
</mat-card>