.card-style {
    width: 100%;
    height: 50%;
    background-color: var(--primary-container);
  }

  .label {
    background: var(--surface-variant); color: var(--on-primary-container);
    outline: black;
  }

  .form-field {
    width: 200px; 
    padding-left: 10px;
    padding-right: 10px;
  }

  // .card-style {
  //   width: 40vw;
  //   height: 40vh;
  //   background-color: var(--primary-container);
  //   align-items: center;
  //   left: 400px;
  // }

