.form-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 75px; // Match the default mat-form-field label indent
  margin-bottom: 16px;
}

.section-label {
  font-weight: bold;
  margin-bottom: 8px;
}

.radio-option {
  margin-left: 0;
  margin-bottom: 4px;
}

.checkbox-indent {
  padding-left: 32px;
  margin-bottom: 4px;
}

.mat-form-field {
  margin-bottom: 16px;
}

.card-style {
    width: 100%;
    height: 50%;
    background-color: var(--primary-container);
  }

  .label {
    background: var(--surface-variant); color: var(--on-primary-container);
    outline: black;
  }

  .form-field {
    width: 200px; 
    padding-left: 10px;
    padding-right: 10px;
  }

  .reset-button {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
    transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
    margin-bottom: 10px;
}

.reset-button:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Slightly larger shadow on hover */
}


