.embedded {
  display: inline;
  margin-left: 16px;
}

input {
  outline: none;
  border: none;
}

.toolbar {
  font-size: 14px;
  //height: var(--title-height, 40px);
  height: 100%;
  position: sticky;
  padding: 0 0 0 16px;
  display: flex;
}

.text_curation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width: 100vw;
  height: 75vh;
}