.text_curation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 100vw;
    height: 75vh;
}

.embedded {
    display: inline;
    margin-left: 16px;
}

input {
  outline: none;
  border: none;
}
