<mat-toolbar style="position: sticky !important" color="primary" class="toolbar">
  {{this.className }}
</mat-toolbar>

<div *ngIf="!needAdvancedSearch">
  <mat-form-field style="float:left; width: 100%; position: sticky !important">
    <mat-label>Search</mat-label>
    <input matInput (keydown.enter)="doBasicSearch(0)" #input [(ngModel)]="searchKey">
    <!-- <mat-icon *ngIf="showDeletion" class="undo-icon" matTooltip="Delete Selected" matSuffix>delete</mat-icon> -->
    <mat-icon *ngIf="showBatchEdit" class="undo-icon" matTooltip="Batch Edit" (click)="handleBatchEdit()"
      matSuffix>edit_square</mat-icon>
    <mat-icon class="custom-search-icon" matTooltip="Advanced Search" (click)="toggleSearchMode()"
      matSuffix>manage_search</mat-icon>
  </mat-form-field>
</div>

<div *ngIf="needAdvancedSearch">
  <mat-form-field style="float:left; width: 100%; position: sticky !important">
    <mat-label>Search</mat-label>
    <input matInput (keydown.enter)="doAdvancedSearch(0)" #input readonly="true" [(ngModel)]="advancedSearchKey">
    <mat-icon class="undo-icon" matTooltip="Undo last" (click)="removeSearchCriterium()" matSuffix>undo</mat-icon>
    <mat-icon *ngIf="showBatchEdit" class="undo-icon" matTooltip="Batch Edit" (click)="handleBatchEdit()"
      matSuffix>edit_square</mat-icon>
    <mat-icon class="custom-search-icon" matTooltip="Simple Search" (click)="toggleSearchMode()"
      matSuffix>manage_search</mat-icon>
  </mat-form-field>
</div>

<search-filter *ngIf="needAdvancedSearch" style="float: right; width: 100%; position: sticky !important"
  [attributes]="schemaClassAttributes" (addSearchCriterium)="addSearchCriterium($event)" (search)="doAdvancedSearch(0)"
  (removeSearchCriterium)="removeSearchCriterium()"></search-filter>

<section class="table-container">
  <ng-container *ngIf="showProgressSpinner">
    <mat-spinner class="spinner"></mat-spinner>
  </ng-container>
  <ng-container *ngIf="!showProgressSpinner">
    <app-instance-list-table [dataSource]="data" [isSelection]="isSelection" [actionButtons]="actionButtons"
      [secondaryActionButtons]="secondaryActionButtons" [showCheckMark]="!isSelection" [isLocal]="isLocal" (actionEvent)="handleAction($event)"
      (selectionEvent)="onRowClick($event)" (urlClickEvent)="navigateUrl($event)">
    </app-instance-list-table>

    <div class="paginator-container" style="display: flex; justify-content: flex-end; width: 100%">
      <div
        style="background-color: white; width: 40%;">
        <span style="background-color: white; width: 400%; line-height: 60px;">
          &nbsp;Selected Instances: {{selectedInstances.length}} &nbsp;</span>
        <mat-icon color="primary" style="line-height: 36px;" (click)="setSelectedInstances()" matTooltip="Select all on page"
          matSuffix>check_box_outline</mat-icon>
        <!-- <mat-icon color="primary" style="line-height: 36px;" matTooltip="Select all {{this.instanceCount}} instances"
          matSuffix>select_all</mat-icon> -->
        <mat-icon color="primary" style="line-height: 36px;" matTooltip="Deselect all"
          (click)="clearSelectedInstances()" matSuffix>deselect_all</mat-icon>
        <mat-icon color="primary" style="line-height: 36px;" matTooltip="Delete selected" matSuffix
          (click)="handleDeleteSelected()">delete</mat-icon>
      </div>
      <mat-paginator style="width: 100%" (page)="onPageChange($event)" [length]="instanceCount"
        [pageSizeOptions]=pageSizeOptions [pageSize]="pageSize" [pageIndex]="pageIndex" showFirstLastButtons
        aria-label="Select page of users">
      </mat-paginator>
    </div>
  </ng-container>
</section>