:host {
    text-align: left;
  }
  
  .level_0,
  .level_1,
  .level_2 {
    // display: block;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    max-width: 100%;
  }
  
  .level_1 {
    margin-left: 16px;
  }
  
  .level_2 {
    margin-left: 32px;
  }