<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
                <mat-menu #menu="matMenu"> -->
<!-- <div style="outline: none;">
    <button *ngIf="annotated_pathway_content" mat-button (click)="scrollToSection('pathway_content')">Summary</button>
    <br>
    <button *ngIf="annotated_pathway_details" mat-button (click)="scrollToSection('pathway_details')">Annotated Pathway
        Details</button>
    <br>
    <button *ngIf="content" mat-button (click)="scrollToSection('content')">Content</button>
    <br>
    <button *ngIf="details" mat-button (click)="scrollToSection('details')">Details </button>
    <br>
    <button *ngIf="tableData" mat-button (click)="scrollToSection('gene2PPi')">Gene to PPI Summary</button>
</div> -->
<!-- </mat-menu> -->


<nav>
    <a (click)="scrollToSection('annotated_pathways')" class="level_0">Annotated Pathways</a>
    <br>
    <ng-container *ngFor="let pathway of navData.annotatedPathwayList">
        <a (click)="scrollToSection('annotated_pathways_' + pathway.pathwayName)" class="level_1">{{pathway.pathwayName}}</a>
        <br>
    </ng-container>
    <a (click)="scrollToSection('predicted_pathways')" class="level_0">Predicted Pathways</a>
    <br>
    <ng-container *ngFor="let pathway of navData.predictedPathwayList; let i=index">
        <a (click)="scrollToSection('predicted_pathways_' + pathway.pathwayName)" class="level_1">{{pathway.pathwayName}}</a>
        <br>
    </ng-container>
    <a (click)="scrollToSection('gene2PPi')" class="level_0">PPI Annotations</a>
    <br>
    <ng-container *ngFor="let pathway of navData.ppiPathwayList; let i=index;">
        <a (click)="scrollToSection('ppi_pathway_' + i)" class="level_1">{{pathway.pathwayName}}</a>
        <br>
    </ng-container>
</nav>
