.level_0 {
    text-align: left !important;
    cursor: pointer;
    white-space: nowrap;
    overflow: ellipsis;
    overflow-wrap: ellipsis;
    word-wrap: ellipsis;
    text-overflow: ellipsis;
}
.level_1 {
    text-align: left !important;
    margin-left: 16px;
    cursor: pointer;
    white-space: nowrap;
    overflow: ellipsis;
    overflow-wrap: ellipsis;
    word-wrap: ellipsis;
    text-overflow: ellipsis;
    max-width: 100%;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  