<table style="width: 500px" mat-table [dataSource]="dataSource" class="mat-elevation-z0 instance-list-table">
  <div class="ellipsis title">
    <!-- dbId Column -->
    <ng-container matColumnDef="dbId">
      <th mat-header-cell *matHeaderCellDef style="width: 120px; min-width: 110px; max-width: 120px;">dbId</th>
      <td mat-cell *matCellDef="let element" style="width: 120px; min-width: 110px; max-width: 120px;">
        <ng-container *ngIf="isSelection">
          {{element.dbId}}
        </ng-container>
        <ng-container *ngIf="!isSelection">
          <ng-container *ngIf="isUpdated(element); else not_updated">
            <mat-icon matTooltip="Modified"
              style="color: darkgoldenrod; font-size: 12px; height: 12px !important; width: 12px !important;">star</mat-icon>
            &nbsp;
          </ng-container>
          <ng-template #not_updated>
            <span style="color: primary; font-family: serif;">&nbsp;I</span>
            &nbsp;
          </ng-template>
          <ng-container *ngIf="!blockRoute; else staticDbId">
            <a [routerLink]=routerNavigationUrl (mouseenter)="setNavigationUrl(element)">{{element.dbId}}</a>
          </ng-container>
          <ng-template #staticDbId>
            <a (click)="onInstanceLinkClicked(element)" class="ng-star-inserted" style="text-decoration: underline;">
              {{element.dbId}}
            </a>
          </ng-template>
        </ng-container>
      </td>
    </ng-container>

    <!-- Display Name Column -->
    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef>Display Name</th>
      <td mat-cell *matCellDef="let element" class="wrap-text-cell"
        (mouseenter)="showSchemaClassName.set(element.dbId, true)"
        (mouseleave)="showSchemaClassName.set(element.dbId, false)">

        <div style="display: flex;">
          <ng-container *ngIf="isSelection">
            <!-- Use the schema class name for newly generated instances-->
            <ng-container *ngIf="element.displayName === newDisplayName; else display_name">
              {{element.schemaClassName}}
            </ng-container>
            <ng-template #display_name>
              {{element.displayName}}
            </ng-template>
          </ng-container>
          <ng-container *ngIf="!isSelection">
            <ng-container *ngIf="!blockRoute; else staticDbId">
              <a [routerLink]=routerNavigationUrl (mouseenter)="setNavigationUrl(element)">{{element.displayName}}</a>
            </ng-container>
            <ng-template #staticDbId>
              <a (click)="onInstanceLinkClicked(element)" class="ng-star-inserted" style="text-decoration: underline;">
                {{element.displayName}}
              </a>
            </ng-template>
          </ng-container>

          <ng-container *ngIf="showSchemaClassName.get(element.dbId)">
            <span style="font-size: smaller; color: gray;">&nbsp;[{{element.schemaClassName}}]</span>
          </ng-container>
        </div>
      </td>
      <br>
    </ng-container>

    <!-- Action Buttons Column -->
    <ng-container matColumnDef="actionButtons" class="buttons-pane" stickyEnd>
      <th mat-header-cell *matHeaderCellDef style="width: 150px; min-width: 150px; max-width: 270px;"></th>
      <td mat-cell *matCellDef="let element" style="width: 150px; min-width: 150px; max-width: 270px;">
        <ng-container *ngIf="actionButtons.length > 0">
          <!--TODO: The tooltip needs to be improved by using a method in the component-->
          <div class="action-buttons-row">
            <button color="primary" *ngIf="isChecked(element) && showCheckMark" mat-icon-button class="mini-btn"
              (click)="removeCheckBox(element)">
              <mat-icon>check_box</mat-icon>
            </button>
            <button color="primary" *ngIf="!isChecked(element) && showCheckMark" mat-icon-button class="mini-btn"
              (click)="addCheckBox(element)">
              <mat-icon>check_box_outline_blank</mat-icon>
            </button>
            <button color="primary" *ngFor="let button of actionButtons" mat-icon-button class="mini-btn"
              (click)="click(element, button.name)" matTooltip="{{button.tooltip}}" matTooltipPosition="above">
              <mat-icon>{{button.name}}</mat-icon>
            </button>
            <button *ngIf="showBookmark" color="primary" mat-icon-button class="mini-btn" (click)="addBookmark(element)"
              matTooltip="add bookmark" matTooltipPosition="above">
              <mat-icon>bookmark</mat-icon>
            </button>
            <ng-container *ngIf="secondaryActionButtons.length > 0">
              <ng-container *ngIf="showSecondaryButtons">
                <button color="primary" *ngFor="let button of secondaryActionButtons" mat-icon-button class="mini-btn"
                  (click)="click(element, button.name)" matTooltip="{{button.tooltip}}" matTooltipPosition="above">
                  <mat-icon>{{button.name}}</mat-icon>
                </button>
              </ng-container>
              <button color="primary" mat-icon-button class="mini-btn" matTooltip="expand"
                (click)="showSecondaryButtons = !showSecondaryButtons" matTooltipPosition="above">
                <mat-icon>more_horiz</mat-icon>
              </button>
            </ng-container>
          </div>
        </ng-container>
      </td>
    </ng-container>
  </div>

  <ng-container *ngIf="showHeader">
    <div>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    </div>
  </ng-container>
  <ng-container *ngIf="!isSelection">
    <tr class="rowBackground" [ngClass]="{deleteHighlight: isDeleted(row), highlightRow: highlightRow}" mat-row
      *matRowDef="let row; columns: displayedColumns;"></tr>
  </ng-container>
  <ng-container *ngIf="isSelection">
    <tr class="rowBackground" [ngClass]="{deleteHighlight: isDeleted(row), highlightRow: highlightRow}" mat-row
      (click)="onRowClick(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
  </ng-container>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" [ngClass]="{highlightRow: highlightRow}" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      <div *ngIf="showEmptyMessage">No instance matching the search key</div>
    </td>
  </tr>
</table>