<h2 class="dialog_title" mat-dialog-title cdkdraghandle>Create a New Instance</h2>
<mat-dialog-content>
  <mat-label>Select a Schema Class: </mat-label>
  <mat-select [(value)]="selected" class="drop_down">
<!--   TODO: Check on touchscreen if touch works for 'click' event -->
    <mat-option (click)="onSelectionChange()" *ngFor="let schemaClass of schemaClasses" [value]="schemaClass">
      {{schemaClass}}
    </mat-option>
  </mat-select>

  <app-instance-table [instance]="instance"></app-instance-table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onOK()" cdkFocusInitial>OK</button>
  <button mat-button (click)="onCancel()">Cancel</button>
</mat-dialog-actions>
